In [448]:
import sys
sys.path.append("../")

In [492]:
import src.tratamiento_datos as td

In [14]:
from pymongo import MongoClient
client = MongoClient("localhost:27017")
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [15]:
db = client.get_database("ironhack")

In [16]:
from pymongo import GEOSPHERE

In [454]:
import requests
import json
from dotenv import load_dotenv
import os
import pandas as pd
from functools import reduce
import operator
load_dotenv()

True

In [450]:
tok1=
tok2=

In [5]:
ranking = pd.read_csv('../data/ranking', index_col = 0)

In [449]:
ranking

         requirement  requirement_value
8               ocio              44.20
0            colegio              13.26
1   Design Companies               8.24
2      Airport-Train               7.84
3       1M companies               6.76
4           Starbuck               6.27
5  peluqueria_canina               5.00
6              Vegan               1.96
7     Basket Stadium               0.37

In [11]:
empresas_ciudad = pd.read_csv('../data/empresas_ciudad', index_col = 0)

In [12]:
empresas_ciudad

                 Madrid                 Barcelona          Montreal  Lisboa
0                   Fon                  Splendia   Airborne Mobile  Nexway
1             eRepublik                 Futurlink           Mobivox     NaN
2                 Busuu                 Openbravo       Radialpoint     NaN
3  Unkasoft Advergaming                  UserZoom             Akoha     NaN
4                Nexway                     Veeva       MediaScrape     NaN
5   Tuenti Technologies                   Teambox         StatusNet     NaN
6           Virgin Play  International Sportsbook  Trellia Networks     NaN
7              ticketea                       NaN               NaN     NaN
8               Genasys                       NaN               NaN     NaN
9                BuyVIP                       NaN               NaN     NaN

In [17]:
coordenadas_ciudades = {'madrid' : [40.42741669687324, -3.7042628540907128],
                        'barcelona' : [41.38673290105267, 2.1734030691967905],
                        'lisboa' : [38.72287648728543, -9.139444396944034],
                        'montreal' : [45.51073484608754, -73.56393413888645]}

# COLECCIONES MADRID

## Colección Starbucks

In [482]:
url = 'https://api.foursquare.com/v2/venues/explore'

params = dict(
client_id= tok1,
client_secret= tok2,
v='20180323',
ll='40.42741669687324,-3.7042628540907128',
query='Starbucks',
limit=70
)

In [483]:
resp = requests.get(url= url, params = params).json()

In [484]:
data = resp.get("response").get("groups")[0].get("items")

In [75]:
data[0]['venue']['location']['lat']

40.423319643246955

In [77]:
data[0]['venue']['location']['lng']

-3.710882844657412

In [88]:
data[0]['venue']['name']

'Starbucks Plaza de España'

In [485]:
def getFromDict(diccionario,mapa):
    return reduce(operator.getitem,mapa,diccionario)

mapa_nombre =  ["venue", "name"]
mapa_latitud = ["venue", "location", "lat"]
mapa_longitud = ["venue", "location", "lng"]

starbucks_madrid = []
for dic in data:
    paralista = {}
    paralista["name"] = getFromDict(dic, mapa_nombre)
    paralista["latitud"]= getFromDict(dic, mapa_latitud)
    paralista["longitud"] = getFromDict(dic,mapa_longitud)
    starbucks_madrid.append(paralista)

In [487]:
len(starbucks_madrid)

46

In [488]:
starbucks_mad = pd.DataFrame(starbucks_madrid)

In [490]:
starbucks_mad.head()

                        name    latitud  longitud
0  Starbucks Plaza de España  40.423320 -3.710883
1  Starbucks Room Mate Oscar  40.420752 -3.699315
2    Starbucks Fuencarral 43  40.423113 -3.700798
3      Starbucks Princesa 40  40.429069 -3.715079
4      Starbucks Gran Vía 30  40.420140 -3.702886

In [493]:
lista_starbucks = td.sacar_coord(starbucks_madrid)

In [495]:
len(lista_starbucks)

46

In [496]:
coleccion_starbucks = []
for elem in starbucks_madrid:
    entrada = {
        "name": elem.get("name"),
        "location": {"type": "Point", "coordinates": [elem.get("latitud"), elem.get("longitud")]}
        
    }
    coleccion_starbucks.append(entrada)

In [497]:
coleccion_starbucks

[{'name': 'Starbucks Plaza de España',
  'location': {'type': 'Point',
   'coordinates': [40.423319643246955, -3.710882844657412]}},
 {'name': 'Starbucks Room Mate Oscar',
  'location': {'type': 'Point',
   'coordinates': [40.42075183549848, -3.6993145297210788]}},
 {'name': 'Starbucks Fuencarral 43',
  'location': {'type': 'Point',
   'coordinates': [40.423112989750564, -3.700798408458431]}},
 {'name': 'Starbucks Princesa 40',
  'location': {'type': 'Point',
   'coordinates': [40.42906874005007, -3.7150786671568476]}},
 {'name': 'Starbucks Gran Vía 30',
  'location': {'type': 'Point',
   'coordinates': [40.42014039388448, -3.702886033408268]}},
 {'name': 'Starbucks Preciados 27',
  'location': {'type': 'Point',
   'coordinates': [40.419667845686355, -3.7061354223688325]}},
 {'name': 'Starbucks Gran Vía 58',
  'location': {'type': 'Point',
   'coordinates': [40.421751918201934, -3.7083782102926905]}},
 {'name': 'Starbucks Quevedo',
  'location': {'type': 'Point', 'coordinates': [40.433353, -3.703958]}},
 {'name': 'Starbucks Alcalá 21',
  'location': {'type': 'Point',
   'coordinates': [40.418038185194774, -3.699371513099982]}},
 {'name': 'Starbucks Génova 27',
  'location': {'type': 'Point',
   'coordinates': [40.425760357264515, -3.691781759262085]}},
 {'name': 'Starbucks Arenal 14',
  'location': {'type': 'Point',
   'coordinates': [40.41719516711848, -3.706118548830636]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point', 'coordinates': [40.418054, -3.710009]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point', 'coordinates': [40.417539, -3.702775]}},
 {'name': 'Starbucks Serrano, 100',
  'location': {'type': 'Point',
   'coordinates': [40.4335639178076, -3.6868293595360973]}},
 {'name': 'Starbucks Príncipe Pío',
  'location': {'type': 'Point',
   'coordinates': [40.421949993513195, -3.7203776278003375]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point',
   'coordinates': [40.41532327347708, -3.6949486687744146]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point',
   'coordinates': [40.41748942152583, -3.70466514037747]}},
 {'name': 'Starbucks Teatro Real',
  'location': {'type': 'Point',
   'coordinates': [40.418106483857194, -3.709606077515513]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point', 'coordinates': [40.421095, -3.70256]}},
 {'name': 'Starbucks Juan Bravo',
  'location': {'type': 'Point',
   'coordinates': [40.43296760669224, -3.6832201480865474]}},
 {'name': 'Starbucks San Miguel',
  'location': {'type': 'Point',
   'coordinates': [40.41573297582015, -3.708717822655616]}},
 {'name': 'Starbucks Velázquez, 32',
  'location': {'type': 'Point',
   'coordinates': [40.424974636524, -3.684107212216363]}},
 {'name': 'Starbucks ECI Preciados',
  'location': {'type': 'Point', 'coordinates': [40.4174674, -3.7043957]}},
 {'name': 'Starbucks ECI Castellana (Starbucks)',
  'location': {'type': 'Point',
   'coordinates': [40.44748872381242, -3.6930934929855574]}},
 {'name': 'Starbucks Reina Sofia',
  'location': {'type': 'Point',
   'coordinates': [40.40885214578761, -3.693236539287397]}},
 {'name': 'Starbucks Conde de Peñalver',
  'location': {'type': 'Point',
   'coordinates': [40.426066801136066, -3.6756167469058876]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point',
   'coordinates': [40.420450975922165, -3.6796733064135796]}},
 {'name': 'Starbucks Velázquez',
  'location': {'type': 'Point',
   'coordinates': [40.4394314443529, -3.6826531171468173]}},
 {'name': 'Starbucks Orense 6',
  'location': {'type': 'Point',
   'coordinates': [40.44772869759542, -3.6951754717412046]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point',
   'coordinates': [40.44677599194058, -3.6918291111629657]}},
 {'name': 'Starbucks Palace',
  'location': {'type': 'Point', 'coordinates': [40.414995, -3.695058]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point', 'coordinates': [40.440273, -3.682125]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point',
   'coordinates': [40.403120577140534, -3.687687685586035]}},
 {'name': 'Starbucks Orense 79',
  'location': {'type': 'Point', 'coordinates': [40.45957, -3.6943874]}},
 {'name': 'Starbucks Plaza Río 2',
  'location': {'type': 'Point',
   'coordinates': [40.39130385405477, -3.701122858987979]}},
 {'name': 'Starbucks ECI Méndez Álvaro',
  'location': {'type': 'Point', 'coordinates': [40.39469, -3.676454]}},
 {'name': 'Starbucks CC La Vaguada',
  'location': {'type': 'Point',
   'coordinates': [40.47963598026618, -3.707357285899872]}},
 {'name': 'Starbucks CC Dreams',
  'location': {'type': 'Point',
   'coordinates': [40.46282268242124, -3.636758032267253]}},
 {'name': 'Starbucks Pozuelo',
  'location': {'type': 'Point',
   'coordinates': [40.43816816158585, -3.793838131943415]}},
 {'name': 'Starbucks CC Islazul',
  'location': {'type': 'Point',
   'coordinates': [40.36350271226119, -3.7365511407333716]}},
 {'name': 'Starbucks La Finca',
  'location': {'type': 'Point',
   'coordinates': [40.41888867283295, -3.800662722672292]}},
 {'name': 'Starbucks ECI Sanchinarro',
  'location': {'type': 'Point',
   'coordinates': [40.49768721643861, -3.660368141302403]}},
 {'name': 'Starbucks ECI Pozuelo',
  'location': {'type': 'Point',
   'coordinates': [40.463101058172825, -3.806382840888177]}},
 {'name': 'Starbucks Parquesur',
  'location': {'type': 'Point',
   'coordinates': [40.3393318306369, -3.7333420586110004]}},
 {'name': 'Starbucks CC Plenilunio',
  'location': {'type': 'Point',
   'coordinates': [40.44638591027995, -3.587592789104539]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point', 'coordinates': [40.455039, -3.583356]}}]

In [551]:
starbucks_mad_point = pd.DataFrame(coleccion_starbucks)
starbucks_mad_point

,name,location
0,Starbucks Plaza de España,"{'type': 'Point', 'coordinates': [40.423319643..."
1,Starbucks Room Mate Oscar,"{'type': 'Point', 'coordinates': [40.420751835..."
2,Starbucks Fuencarral 43,"{'type': 'Point', 'coordinates': [40.423112989..."
3,Starbucks Princesa 40,"{'type': 'Point', 'coordinates': [40.429068740..."
4,Starbucks Gran Vía 30,"{'type': 'Point', 'coordinates': [40.420140393..."
5,Starbucks Preciados 27,"{'type': 'Point', 'coordinates': [40.419667845..."
6,Starbucks Gran Vía 58,"{'type': 'Point', 'coordinates': [40.421751918..."
7,Starbucks Quevedo,"{'type': 'Point', 'coordinates': [40.433353, -..."
8,Starbucks Alcalá 21,"{'type': 'Point', 'coordinates': [40.418038185..."
9,Starbucks Génova 27,"{'type': 'Point', 'coordinates': [40.425760357..."
10,Starbucks Arenal 14,"{'type': 'Point', 'coordinates': [40.417195167..."
11,Starbucks,"{'type': 'Point', 'coordinates': [40.418054, -..."
12,Starbucks,"{'type': 'Point', 'coordinates': [40.417539, -..."
13,"Starbucks Serrano, 100","{'type': 'Point', 'coordinates': [40.433563917..."
14,Starbucks Príncipe Pío,"{'type': 'Point', 'coordinates': [40.421949993..."
15,Starbucks,"{'type': 'Point', 'coordinates': [40.415323273..."
16,Starbucks,"{'type': 'Point', 'coordinates': [40.417489421..."
17,Starbucks Teatro Real,"{'type': 'Point', 'coordinates': [40.418106483..."
18,Starbucks,"{'type': 'Point', 'coordinates': [40.421095, -..."
19,Starbucks Juan Bravo,"{'type': 'Point', 'coordinates': [40.432967606..."
20,Starbucks San Miguel,"{'type': 'Point', 'coordinates': [40.415732975..."
21,"Starbucks Velázquez, 32","{'type': 'Point', 'coordinates': [40.424974636..."
22,Starbucks ECI Preciados,"{'type': 'Point', 'coordinates': [40.4174674, ..."
23,Starbucks ECI Castellana (Starbucks),"{'type': 'Point', 'coordinates': [40.447488723..."
24,Starbucks Reina Sofia,"{'type': 'Point', 'coordinates': [40.408852145..."
25,Starbucks Conde de Peñalver,"{'type': 'Point', 'coordinates': [40.426066801..."
26,Starbucks,"{'type': 'Point', 'coordinates': [40.420450975..."
27,Starbucks Velázquez,"{'type': 'Point', 'coordinates': [40.439431444..."
28,Starbucks Orense 6,"{'type': 'Point', 'coordinates': [40.447728697..."
29,Starbucks,"{'type': 'Point', 'coordinates': [40.446775991..."
30,Starbucks Palace,"{'type': 'Point', 'coordinates': [40.414995, -..."
31,Starbucks,"{'type': 'Point', 'coordinates': [40.440273, -..."
32,Starbucks,"{'type': 'Point', 'coordinates': [40.403120577..."
33,Starbucks Orense 79,"{'type': 'Point', 'coordinates': [40.45957, -3..."
34,Starbucks Plaza Río 2,"{'type': 'Point', 'coordinates': [40.391303854..."
35,Starbucks ECI Méndez Álvaro,"{'type': 'Point', 'coordinates': [40.39469, -3..."
36,Starbucks CC La Vaguada,"{'type': 'Point', 'coordinates': [40.479635980..."
37,Starbucks CC Dreams,"{'type': 'Point', 'coordinates': [40.462822682..."
38,Starbucks Pozuelo,"{'type': 'Point', 'coordinates': [40.438168161..."
39,Starbucks CC Islazul,"{'type': 'Point', 'coordinates': [40.363502712..."
40,Starbucks La Finca,"{'type': 'Point', 'coordinates': [40.418888672..."
41,Starbucks ECI Sanchinarro,"{'type': 'Point', 'coordinates': [40.497687216..."
42,Starbucks ECI Pozuelo,"{'type': 'Point', 'coordinates': [40.463101058..."
43,Starbucks Parquesur,"{'type': 'Point', 'coordinates': [40.339331830..."
44,Starbucks CC Plenilunio,"{'type': 'Point', 'coordinates': [40.446385910..."
45,Starbucks,"{'type': 'Point', 'coordinates': [40.455039, -..."

In [555]:
starbucks_mad_point.to_json("../data/starbucks_madrid.json", orient="records")

PermissionError: [Errno 13] Permission denied: '../data/starbucks_madrid.json'

## Colección Escuelas

In [545]:
url = 'https://api.foursquare.com/v2/venues/explore'

params = dict(
client_id= tok1,
client_secret= tok2,
v='20180323',
ll='40.42741669687324,-3.7042628540907128',
query='school',
limit=3000
)     # instituto

In [546]:
resp = requests.get(url= url, params = params).json()

In [547]:
data = resp.get("response").get("groups")[0].get("items")

In [548]:
def getFromDict(diccionario,mapa):
    return reduce(operator.getitem,mapa,diccionario)

mapa_nombre =  ["venue", "name"]
mapa_latitud = ["venue", "location", "lat"]
mapa_longitud = ["venue", "location", "lng"]

escuelas_madrid = []
for dic in data:
    paralista = {}
    paralista["name"] = getFromDict(dic, mapa_nombre)
    paralista["latitud"]= getFromDict(dic, mapa_latitud)
    paralista["longitud"] = getFromDict(dic,mapa_longitud)
    escuelas_madrid.append(paralista)

In [549]:
escuelas_madrid

[{'name': 'escuela restaura',
  'latitud': 40.4260684,
  'longitud': -3.703749000000016},
 {'name': 'La Piscifactoría Laboratorio de Creación',
  'latitud': 40.428569847199334,
  'longitud': -3.7033045291900635},
 {'name': 'Enforex - Escuela',
  'latitud': 40.429489606628735,
  'longitud': -3.7098631494758605},
 {'name': 'La Posada de Hojalata',
  'latitud': 40.4294241,
  'longitud': -3.698964700000033},
 {'name': 'Enforex Head Office',
  'latitud': 40.42945674796501,
  'longitud': -3.7098049657373955},
 {'name': 'Colegio Madres Concepcionistas',
  'latitud': 40.42622508788577,
  'longitud': -3.7131554713265724},
 {'name': 'International House',
  'latitud': 40.42723918657325,
  'longitud': -3.6949899009748393},
 {'name': 'I.E.S. Lope de Vega',
  'latitud': 40.427047133724855,
  'longitud': -3.705437247913203},
 {'name': 'Centro educativo Maria Inmaculada Fuencarral',
  'latitud': 40.4278666,
  'longitud': -3.7034308},
 {'name': 'Academia Contacto',
  'latitud': 40.43268647684853,
  'longitud': -3.699153159324687}]

In [488]:
starbucks_mad = pd.DataFrame(starbucks_madrid)

In [490]:
starbucks_mad.head()

                        name    latitud  longitud
0  Starbucks Plaza de España  40.423320 -3.710883
1  Starbucks Room Mate Oscar  40.420752 -3.699315
2    Starbucks Fuencarral 43  40.423113 -3.700798
3      Starbucks Princesa 40  40.429069 -3.715079
4      Starbucks Gran Vía 30  40.420140 -3.702886

In [493]:
lista_starbucks = td.sacar_coord(starbucks_madrid)

In [495]:
len(lista_starbucks)

46

In [496]:
coleccion_starbucks = []
for elem in starbucks_madrid:
    entrada = {
        "name": elem.get("name"),
        "location": {"type": "Point", "coordinates": [elem.get("latitud"), elem.get("longitud")]}
        
    }
    coleccion_starbucks.append(entrada)

In [497]:
coleccion_starbucks

[{'name': 'Starbucks Plaza de España',
  'location': {'type': 'Point',
   'coordinates': [40.423319643246955, -3.710882844657412]}},
 {'name': 'Starbucks Room Mate Oscar',
  'location': {'type': 'Point',
   'coordinates': [40.42075183549848, -3.6993145297210788]}},
 {'name': 'Starbucks Fuencarral 43',
  'location': {'type': 'Point',
   'coordinates': [40.423112989750564, -3.700798408458431]}},
 {'name': 'Starbucks Princesa 40',
  'location': {'type': 'Point',
   'coordinates': [40.42906874005007, -3.7150786671568476]}},
 {'name': 'Starbucks Gran Vía 30',
  'location': {'type': 'Point',
   'coordinates': [40.42014039388448, -3.702886033408268]}},
 {'name': 'Starbucks Preciados 27',
  'location': {'type': 'Point',
   'coordinates': [40.419667845686355, -3.7061354223688325]}},
 {'name': 'Starbucks Gran Vía 58',
  'location': {'type': 'Point',
   'coordinates': [40.421751918201934, -3.7083782102926905]}},
 {'name': 'Starbucks Quevedo',
  'location': {'type': 'Point', 'coordinates': [40.433353, -3.703958]}},
 {'name': 'Starbucks Alcalá 21',
  'location': {'type': 'Point',
   'coordinates': [40.418038185194774, -3.699371513099982]}},
 {'name': 'Starbucks Génova 27',
  'location': {'type': 'Point',
   'coordinates': [40.425760357264515, -3.691781759262085]}},
 {'name': 'Starbucks Arenal 14',
  'location': {'type': 'Point',
   'coordinates': [40.41719516711848, -3.706118548830636]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point', 'coordinates': [40.418054, -3.710009]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point', 'coordinates': [40.417539, -3.702775]}},
 {'name': 'Starbucks Serrano, 100',
  'location': {'type': 'Point',
   'coordinates': [40.4335639178076, -3.6868293595360973]}},
 {'name': 'Starbucks Príncipe Pío',
  'location': {'type': 'Point',
   'coordinates': [40.421949993513195, -3.7203776278003375]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point',
   'coordinates': [40.41532327347708, -3.6949486687744146]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point',
   'coordinates': [40.41748942152583, -3.70466514037747]}},
 {'name': 'Starbucks Teatro Real',
  'location': {'type': 'Point',
   'coordinates': [40.418106483857194, -3.709606077515513]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point', 'coordinates': [40.421095, -3.70256]}},
 {'name': 'Starbucks Juan Bravo',
  'location': {'type': 'Point',
   'coordinates': [40.43296760669224, -3.6832201480865474]}},
 {'name': 'Starbucks San Miguel',
  'location': {'type': 'Point',
   'coordinates': [40.41573297582015, -3.708717822655616]}},
 {'name': 'Starbucks Velázquez, 32',
  'location': {'type': 'Point',
   'coordinates': [40.424974636524, -3.684107212216363]}},
 {'name': 'Starbucks ECI Preciados',
  'location': {'type': 'Point', 'coordinates': [40.4174674, -3.7043957]}},
 {'name': 'Starbucks ECI Castellana (Starbucks)',
  'location': {'type': 'Point',
   'coordinates': [40.44748872381242, -3.6930934929855574]}},
 {'name': 'Starbucks Reina Sofia',
  'location': {'type': 'Point',
   'coordinates': [40.40885214578761, -3.693236539287397]}},
 {'name': 'Starbucks Conde de Peñalver',
  'location': {'type': 'Point',
   'coordinates': [40.426066801136066, -3.6756167469058876]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point',
   'coordinates': [40.420450975922165, -3.6796733064135796]}},
 {'name': 'Starbucks Velázquez',
  'location': {'type': 'Point',
   'coordinates': [40.4394314443529, -3.6826531171468173]}},
 {'name': 'Starbucks Orense 6',
  'location': {'type': 'Point',
   'coordinates': [40.44772869759542, -3.6951754717412046]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point',
   'coordinates': [40.44677599194058, -3.6918291111629657]}},
 {'name': 'Starbucks Palace',
  'location': {'type': 'Point', 'coordinates': [40.414995, -3.695058]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point', 'coordinates': [40.440273, -3.682125]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point',
   'coordinates': [40.403120577140534, -3.687687685586035]}},
 {'name': 'Starbucks Orense 79',
  'location': {'type': 'Point', 'coordinates': [40.45957, -3.6943874]}},
 {'name': 'Starbucks Plaza Río 2',
  'location': {'type': 'Point',
   'coordinates': [40.39130385405477, -3.701122858987979]}},
 {'name': 'Starbucks ECI Méndez Álvaro',
  'location': {'type': 'Point', 'coordinates': [40.39469, -3.676454]}},
 {'name': 'Starbucks CC La Vaguada',
  'location': {'type': 'Point',
   'coordinates': [40.47963598026618, -3.707357285899872]}},
 {'name': 'Starbucks CC Dreams',
  'location': {'type': 'Point',
   'coordinates': [40.46282268242124, -3.636758032267253]}},
 {'name': 'Starbucks Pozuelo',
  'location': {'type': 'Point',
   'coordinates': [40.43816816158585, -3.793838131943415]}},
 {'name': 'Starbucks CC Islazul',
  'location': {'type': 'Point',
   'coordinates': [40.36350271226119, -3.7365511407333716]}},
 {'name': 'Starbucks La Finca',
  'location': {'type': 'Point',
   'coordinates': [40.41888867283295, -3.800662722672292]}},
 {'name': 'Starbucks ECI Sanchinarro',
  'location': {'type': 'Point',
   'coordinates': [40.49768721643861, -3.660368141302403]}},
 {'name': 'Starbucks ECI Pozuelo',
  'location': {'type': 'Point',
   'coordinates': [40.463101058172825, -3.806382840888177]}},
 {'name': 'Starbucks Parquesur',
  'location': {'type': 'Point',
   'coordinates': [40.3393318306369, -3.7333420586110004]}},
 {'name': 'Starbucks CC Plenilunio',
  'location': {'type': 'Point',
   'coordinates': [40.44638591027995, -3.587592789104539]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point', 'coordinates': [40.455039, -3.583356]}}]

In [500]:
starbucks_mad_point = pd.DataFrame(coleccion_starbucks)
starbucks_mad_point.head()

,name,location
0,Starbucks Plaza de España,"{'type': 'Point', 'coordinates': [40.423319643..."
1,Starbucks Room Mate Oscar,"{'type': 'Point', 'coordinates': [40.420751835..."
2,Starbucks Fuencarral 43,"{'type': 'Point', 'coordinates': [40.423112989..."
3,Starbucks Princesa 40,"{'type': 'Point', 'coordinates': [40.429068740..."
4,Starbucks Gran Vía 30,"{'type': 'Point', 'coordinates': [40.420140393..."

In [501]:
df.to_json("../data/starbucks_madrid_col.json", orient="records")

#### ESTO SE QUEDA POR AHORA AQUÍ PARA RECORDARME CIERTAS COSAS

In [ ]:
###ESTO ES LO QUE NECESITO PARA IR ALMACENANDO TODAS LAS POSIBLES COINCIDENCIAS
# EL HISTÓRICO SIEMPRE SE TIENE QUE DECLARAR CON LAS COORDENADAS DE INICIO

historico = [[1, 2]]

datos_02 = [[3, 4], [5, 6]]

datos_03 = [[[7, 8], [9, 10]] , [[88, 88], [77, 77]]]

datos_04 = [[[22, 11], [31, 10]], [[0, 0], [55, 54], [1, 1]], [[33, 33], [45, 46]], [[13, 1], [0, 110]]]

# LE IREMOS PASANDO LOS RESULTADOS DE LAS CONSULTAS

# HAY QUE DECIRLE EL NÚMERO DE BÚSQUEDA QUE HA SIDO PARA QUE SEPA COMO DIBUJAR EL ARBOL

historico = td.guardar_historico(historico, datos_02)

historico = td.guardar_historico(historico, datos_03)

historico = td.guardar_historico(historico, datos_04)

# TIENES QUE GENERAR UNA FUNCIÓN QUE LIMPIE EL HISTÓRICO Y DEVUELVA LA MEDIA DE LAS COORDENADAS DE CADA FILA PARA
#LA SIGUIENTE BÚSQUEDA.

#ACUERDATE DE QUE TIENES QUE ALMACENAR LOS RESULTADOS EN UNA LISTA MAYOR

hay que hacerlo por elementos