In [448]:
import sys
sys.path.append("../")

In [492]:
import src.tratamiento_datos as td

In [14]:
from pymongo import MongoClient
client = MongoClient("localhost:27017")
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [15]:
db = client.get_database("ironhack")

In [16]:
from pymongo import GEOSPHERE

In [454]:
import requests
import json
from dotenv import load_dotenv
import os
import pandas as pd
from functools import reduce
import operator
load_dotenv()

True

In [450]:
tok1=
tok2=

In [5]:
ranking = pd.read_csv('../data/ranking', index_col = 0)

In [449]:
ranking

         requirement  requirement_value
8               ocio              44.20
0            colegio              13.26
1   Design Companies               8.24
2      Airport-Train               7.84
3       1M companies               6.76
4           Starbuck               6.27
5  peluqueria_canina               5.00
6              Vegan               1.96
7     Basket Stadium               0.37

In [11]:
empresas_ciudad = pd.read_csv('../data/empresas_ciudad', index_col = 0)

In [12]:
empresas_ciudad

                 Madrid                 Barcelona          Montreal  Lisboa
0                   Fon                  Splendia   Airborne Mobile  Nexway
1             eRepublik                 Futurlink           Mobivox     NaN
2                 Busuu                 Openbravo       Radialpoint     NaN
3  Unkasoft Advergaming                  UserZoom             Akoha     NaN
4                Nexway                     Veeva       MediaScrape     NaN
5   Tuenti Technologies                   Teambox         StatusNet     NaN
6           Virgin Play  International Sportsbook  Trellia Networks     NaN
7              ticketea                       NaN               NaN     NaN
8               Genasys                       NaN               NaN     NaN
9                BuyVIP                       NaN               NaN     NaN

In [17]:
coordenadas_ciudades = {'madrid' : [40.42741669687324, -3.7042628540907128],
                        'barcelona' : [41.38673290105267, 2.1734030691967905],
                        'lisboa' : [38.72287648728543, -9.139444396944034],
                        'montreal' : [45.51073484608754, -73.56393413888645]}

# COLECCIONES MADRID

## Colección Starbucks

In [482]:
url = 'https://api.foursquare.com/v2/venues/explore'

params = dict(
client_id= tok1,
client_secret= tok2,
v='20180323',
ll='40.42741669687324,-3.7042628540907128',
query='Starbucks',
limit=70
)

In [483]:
resp = requests.get(url= url, params = params).json()

In [484]:
data = resp.get("response").get("groups")[0].get("items")

In [75]:
data[0]['venue']['location']['lat']

40.423319643246955

In [77]:
data[0]['venue']['location']['lng']

-3.710882844657412

In [88]:
data[0]['venue']['name']

'Starbucks Plaza de España'

In [485]:
def getFromDict(diccionario,mapa):
    return reduce(operator.getitem,mapa,diccionario)

mapa_nombre =  ["venue", "name"]
mapa_latitud = ["venue", "location", "lat"]
mapa_longitud = ["venue", "location", "lng"]

starbucks_madrid = []
for dic in data:
    paralista = {}
    paralista["name"] = getFromDict(dic, mapa_nombre)
    paralista["latitud"]= getFromDict(dic, mapa_latitud)
    paralista["longitud"] = getFromDict(dic,mapa_longitud)
    starbucks_madrid.append(paralista)

In [487]:
len(starbucks_madrid)

46

In [488]:
starbucks_mad = pd.DataFrame(starbucks_madrid)

In [490]:
starbucks_mad.head()

                        name    latitud  longitud
0  Starbucks Plaza de España  40.423320 -3.710883
1  Starbucks Room Mate Oscar  40.420752 -3.699315
2    Starbucks Fuencarral 43  40.423113 -3.700798
3      Starbucks Princesa 40  40.429069 -3.715079
4      Starbucks Gran Vía 30  40.420140 -3.702886

In [493]:
lista_starbucks = td.sacar_coord(starbucks_madrid)

In [495]:
len(lista_starbucks)

46

In [496]:
coleccion_starbucks = []
for elem in starbucks_madrid:
    entrada = {
        "name": elem.get("name"),
        "location": {"type": "Point", "coordinates": [elem.get("latitud"), elem.get("longitud")]}
        
    }
    coleccion_starbucks.append(entrada)

In [497]:
coleccion_starbucks

[{'name': 'Starbucks Plaza de España',
  'location': {'type': 'Point',
   'coordinates': [40.423319643246955, -3.710882844657412]}},
 {'name': 'Starbucks Room Mate Oscar',
  'location': {'type': 'Point',
   'coordinates': [40.42075183549848, -3.6993145297210788]}},
 {'name': 'Starbucks Fuencarral 43',
  'location': {'type': 'Point',
   'coordinates': [40.423112989750564, -3.700798408458431]}},
 {'name': 'Starbucks Princesa 40',
  'location': {'type': 'Point',
   'coordinates': [40.42906874005007, -3.7150786671568476]}},
 {'name': 'Starbucks Gran Vía 30',
  'location': {'type': 'Point',
   'coordinates': [40.42014039388448, -3.702886033408268]}},
 {'name': 'Starbucks Preciados 27',
  'location': {'type': 'Point',
   'coordinates': [40.419667845686355, -3.7061354223688325]}},
 {'name': 'Starbucks Gran Vía 58',
  'location': {'type': 'Point',
   'coordinates': [40.421751918201934, -3.7083782102926905]}},
 {'name': 'Starbucks Quevedo',
  'location': {'type': 'Point', 'coordinates': [40.433353, -3.703958]}},
 {'name': 'Starbucks Alcalá 21',
  'location': {'type': 'Point',
   'coordinates': [40.418038185194774, -3.699371513099982]}},
 {'name': 'Starbucks Génova 27',
  'location': {'type': 'Point',
   'coordinates': [40.425760357264515, -3.691781759262085]}},
 {'name': 'Starbucks Arenal 14',
  'location': {'type': 'Point',
   'coordinates': [40.41719516711848, -3.706118548830636]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point', 'coordinates': [40.418054, -3.710009]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point', 'coordinates': [40.417539, -3.702775]}},
 {'name': 'Starbucks Serrano, 100',
  'location': {'type': 'Point',
   'coordinates': [40.4335639178076, -3.6868293595360973]}},
 {'name': 'Starbucks Príncipe Pío',
  'location': {'type': 'Point',
   'coordinates': [40.421949993513195, -3.7203776278003375]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point',
   'coordinates': [40.41532327347708, -3.6949486687744146]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point',
   'coordinates': [40.41748942152583, -3.70466514037747]}},
 {'name': 'Starbucks Teatro Real',
  'location': {'type': 'Point',
   'coordinates': [40.418106483857194, -3.709606077515513]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point', 'coordinates': [40.421095, -3.70256]}},
 {'name': 'Starbucks Juan Bravo',
  'location': {'type': 'Point',
   'coordinates': [40.43296760669224, -3.6832201480865474]}},
 {'name': 'Starbucks San Miguel',
  'location': {'type': 'Point',
   'coordinates': [40.41573297582015, -3.708717822655616]}},
 {'name': 'Starbucks Velázquez, 32',
  'location': {'type': 'Point',
   'coordinates': [40.424974636524, -3.684107212216363]}},
 {'name': 'Starbucks ECI Preciados',
  'location': {'type': 'Point', 'coordinates': [40.4174674, -3.7043957]}},
 {'name': 'Starbucks ECI Castellana (Starbucks)',
  'location': {'type': 'Point',
   'coordinates': [40.44748872381242, -3.6930934929855574]}},
 {'name': 'Starbucks Reina Sofia',
  'location': {'type': 'Point',
   'coordinates': [40.40885214578761, -3.693236539287397]}},
 {'name': 'Starbucks Conde de Peñalver',
  'location': {'type': 'Point',
   'coordinates': [40.426066801136066, -3.6756167469058876]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point',
   'coordinates': [40.420450975922165, -3.6796733064135796]}},
 {'name': 'Starbucks Velázquez',
  'location': {'type': 'Point',
   'coordinates': [40.4394314443529, -3.6826531171468173]}},
 {'name': 'Starbucks Orense 6',
  'location': {'type': 'Point',
   'coordinates': [40.44772869759542, -3.6951754717412046]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point',
   'coordinates': [40.44677599194058, -3.6918291111629657]}},
 {'name': 'Starbucks Palace',
  'location': {'type': 'Point', 'coordinates': [40.414995, -3.695058]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point', 'coordinates': [40.440273, -3.682125]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point',
   'coordinates': [40.403120577140534, -3.687687685586035]}},
 {'name': 'Starbucks Orense 79',
  'location': {'type': 'Point', 'coordinates': [40.45957, -3.6943874]}},
 {'name': 'Starbucks Plaza Río 2',
  'location': {'type': 'Point',
   'coordinates': [40.39130385405477, -3.701122858987979]}},
 {'name': 'Starbucks ECI Méndez Álvaro',
  'location': {'type': 'Point', 'coordinates': [40.39469, -3.676454]}},
 {'name': 'Starbucks CC La Vaguada',
  'location': {'type': 'Point',
   'coordinates': [40.47963598026618, -3.707357285899872]}},
 {'name': 'Starbucks CC Dreams',
  'location': {'type': 'Point',
   'coordinates': [40.46282268242124, -3.636758032267253]}},
 {'name': 'Starbucks Pozuelo',
  'location': {'type': 'Point',
   'coordinates': [40.43816816158585, -3.793838131943415]}},
 {'name': 'Starbucks CC Islazul',
  'location': {'type': 'Point',
   'coordinates': [40.36350271226119, -3.7365511407333716]}},
 {'name': 'Starbucks La Finca',
  'location': {'type': 'Point',
   'coordinates': [40.41888867283295, -3.800662722672292]}},
 {'name': 'Starbucks ECI Sanchinarro',
  'location': {'type': 'Point',
   'coordinates': [40.49768721643861, -3.660368141302403]}},
 {'name': 'Starbucks ECI Pozuelo',
  'location': {'type': 'Point',
   'coordinates': [40.463101058172825, -3.806382840888177]}},
 {'name': 'Starbucks Parquesur',
  'location': {'type': 'Point',
   'coordinates': [40.3393318306369, -3.7333420586110004]}},
 {'name': 'Starbucks CC Plenilunio',
  'location': {'type': 'Point',
   'coordinates': [40.44638591027995, -3.587592789104539]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point', 'coordinates': [40.455039, -3.583356]}}]

In [551]:
starbucks_mad_point = pd.DataFrame(coleccion_starbucks)
starbucks_mad_point

,name,location
0,Starbucks Plaza de España,"{'type': 'Point', 'coordinates': [40.423319643..."
1,Starbucks Room Mate Oscar,"{'type': 'Point', 'coordinates': [40.420751835..."
2,Starbucks Fuencarral 43,"{'type': 'Point', 'coordinates': [40.423112989..."
3,Starbucks Princesa 40,"{'type': 'Point', 'coordinates': [40.429068740..."
4,Starbucks Gran Vía 30,"{'type': 'Point', 'coordinates': [40.420140393..."
5,Starbucks Preciados 27,"{'type': 'Point', 'coordinates': [40.419667845..."
6,Starbucks Gran Vía 58,"{'type': 'Point', 'coordinates': [40.421751918..."
7,Starbucks Quevedo,"{'type': 'Point', 'coordinates': [40.433353, -..."
8,Starbucks Alcalá 21,"{'type': 'Point', 'coordinates': [40.418038185..."
9,Starbucks Génova 27,"{'type': 'Point', 'coordinates': [40.425760357..."
10,Starbucks Arenal 14,"{'type': 'Point', 'coordinates': [40.417195167..."
11,Starbucks,"{'type': 'Point', 'coordinates': [40.418054, -..."
12,Starbucks,"{'type': 'Point', 'coordinates': [40.417539, -..."
13,"Starbucks Serrano, 100","{'type': 'Point', 'coordinates': [40.433563917..."
14,Starbucks Príncipe Pío,"{'type': 'Point', 'coordinates': [40.421949993..."
15,Starbucks,"{'type': 'Point', 'coordinates': [40.415323273..."
16,Starbucks,"{'type': 'Point', 'coordinates': [40.417489421..."
17,Starbucks Teatro Real,"{'type': 'Point', 'coordinates': [40.418106483..."
18,Starbucks,"{'type': 'Point', 'coordinates': [40.421095, -..."
19,Starbucks Juan Bravo,"{'type': 'Point', 'coordinates': [40.432967606..."
20,Starbucks San Miguel,"{'type': 'Point', 'coordinates': [40.415732975..."
21,"Starbucks Velázquez, 32","{'type': 'Point', 'coordinates': [40.424974636..."
22,Starbucks ECI Preciados,"{'type': 'Point', 'coordinates': [40.4174674, ..."
23,Starbucks ECI Castellana (Starbucks),"{'type': 'Point', 'coordinates': [40.447488723..."
24,Starbucks Reina Sofia,"{'type': 'Point', 'coordinates': [40.408852145..."
25,Starbucks Conde de Peñalver,"{'type': 'Point', 'coordinates': [40.426066801..."
26,Starbucks,"{'type': 'Point', 'coordinates': [40.420450975..."
27,Starbucks Velázquez,"{'type': 'Point', 'coordinates': [40.439431444..."
28,Starbucks Orense 6,"{'type': 'Point', 'coordinates': [40.447728697..."
29,Starbucks,"{'type': 'Point', 'coordinates': [40.446775991..."
30,Starbucks Palace,"{'type': 'Point', 'coordinates': [40.414995, -..."
31,Starbucks,"{'type': 'Point', 'coordinates': [40.440273, -..."
32,Starbucks,"{'type': 'Point', 'coordinates': [40.403120577..."
33,Starbucks Orense 79,"{'type': 'Point', 'coordinates': [40.45957, -3..."
34,Starbucks Plaza Río 2,"{'type': 'Point', 'coordinates': [40.391303854..."
35,Starbucks ECI Méndez Álvaro,"{'type': 'Point', 'coordinates': [40.39469, -3..."
36,Starbucks CC La Vaguada,"{'type': 'Point', 'coordinates': [40.479635980..."
37,Starbucks CC Dreams,"{'type': 'Point', 'coordinates': [40.462822682..."
38,Starbucks Pozuelo,"{'type': 'Point', 'coordinates': [40.438168161..."
39,Starbucks CC Islazul,"{'type': 'Point', 'coordinates': [40.363502712..."
40,Starbucks La Finca,"{'type': 'Point', 'coordinates': [40.418888672..."
41,Starbucks ECI Sanchinarro,"{'type': 'Point', 'coordinates': [40.497687216..."
42,Starbucks ECI Pozuelo,"{'type': 'Point', 'coordinates': [40.463101058..."
43,Starbucks Parquesur,"{'type': 'Point', 'coordinates': [40.339331830..."
44,Starbucks CC Plenilunio,"{'type': 'Point', 'coordinates': [40.446385910..."
45,Starbucks,"{'type': 'Point', 'coordinates': [40.455039, -..."

In [558]:
starbucks_mad_point.to_json("../data/starbucks_madrid_colection.json", orient="records")

## Colección Escuelas

In [640]:
url = 'https://api.foursquare.com/v2/venues/explore'

params = dict(
client_id= tok1,
client_secret= tok2,
v='20180323',
ll='40.42741669687324,-3.7042628540907128',
radius = 100000,
query = 'educacion',
limit = 1000
)     # instituto   school     colegio     escuela

In [641]:
resp = requests.get(url= url, params = params).json()

In [642]:
data = resp.get("response").get("groups")[0].get("items")

In [643]:
len(data)

8

In [644]:
def getFromDict(diccionario,mapa):
    return reduce(operator.getitem,mapa,diccionario)

mapa_nombre =  ["venue", "name"]
mapa_latitud = ["venue", "location", "lat"]
mapa_longitud = ["venue", "location", "lng"]

#escuelas_madrid = []
for dic in data:
    paralista = {}
    paralista["name"] = getFromDict(dic, mapa_nombre)
    paralista["latitud"]= getFromDict(dic, mapa_latitud)
    paralista["longitud"] = getFromDict(dic,mapa_longitud)
    escuelas_madrid.append(paralista)

In [645]:
len(escuelas_madrid)

191

In [672]:
colegios_mad = pd.DataFrame(escuelas_madrid)

In [673]:
colegios_mad.tail()

                        name    latitud  longitud
186    Parque de San Antonio  40.658778 -4.686982
187  Granier Panes Artesanos  40.421598 -3.675952
188           100 Montaditos  40.426698 -3.696514
189                Home Asia  40.294040 -3.812575
190    Restaurante Montaloya  40.419217 -3.734716

In [674]:
lista_colegios = td.sacar_coord(escuelas_madrid)

In [675]:
len(lista_colegios)

191

In [676]:
coleccion_escuelas = []
for elem in escuelas_madrid:
    entrada = {
        "name": elem.get("name"),
        "location": {"type": "Point", "coordinates": [elem.get("latitud"), elem.get("longitud")]}
        
    }
    coleccion_escuelas.append(entrada)

In [677]:
coleccion_escuelas

[{'name': 'Cronopios Idiomas',
  'location': {'type': 'Point',
   'coordinates': [40.41262606884726, -3.6891531944274902]}},
 {'name': 'Idiomas 24/7',
  'location': {'type': 'Point',
   'coordinates': [40.45173961170735, -3.69497008349552]}},
 {'name': 'Escuela Oficial de Idiomas Jesús Maestro',
  'location': {'type': 'Point',
   'coordinates': [40.44083663995792, -3.7116487458704763]}},
 {'name': 'Enforex - Escuela',
  'location': {'type': 'Point',
   'coordinates': [40.429489606628735, -3.7098631494758605]}},
 {'name': 'Colegio Público Portugal',
  'location': {'type': 'Point',
   'coordinates': [40.424902568735014, -3.7148820347640723]}},
 {'name': 'Club De Español',
  'location': {'type': 'Point',
   'coordinates': [40.429072611459304, -3.6919408973836707]}},
 {'name': 'Talking Point',
  'location': {'type': 'Point',
   'coordinates': [40.416548229997005, -3.7017070382423287]}},
 {'name': 'British Council Madrid Young Leaners',
  'location': {'type': 'Point',
   'coordinates': [40.43513620483764, -3.693705035042072]}},
 {'name': 'American High Stand Academy',
  'location': {'type': 'Point', 'coordinates': [40.436749, -3.714933]}},
 {'name': 'Colegio Sagrados Corazones',
  'location': {'type': 'Point',
   'coordinates': [40.431741606385984, -3.7201557450927694]}},
 {'name': 'ESAME PHARMACEUTICAL BUSINESS SCHOOL',
  'location': {'type': 'Point',
   'coordinates': [40.4285078, -3.684043699999961]}},
 {'name': 'Liceo Italiano Enrico Fermi',
  'location': {'type': 'Point',
   'coordinates': [40.4419026679497, -3.695376343373298]}},
 {'name': 'IE Business School Aula Magna',
  'location': {'type': 'Point',
   'coordinates': [40.437909086429826, -3.6877246991831556]}},
 {'name': 'C.P. Ramiro de Maeztu',
  'location': {'type': 'Point',
   'coordinates': [40.44196594051204, -3.6861124476864813]}},
 {'name': 'Colegio Buen Consejo',
  'location': {'type': 'Point',
   'coordinates': [40.44730028815323, -3.713007199950265]}},
 {'name': 'Colegio Claret',
  'location': {'type': 'Point',
   'coordinates': [40.44026407175295, -3.672521868300799]}},
 {'name': 'Academia Form@-T',
  'location': {'type': 'Point',
   'coordinates': [40.44484052901337, -3.673405945301056]}},
 {'name': 'Colegio Escandinavo de Madrid',
  'location': {'type': 'Point',
   'coordinates': [40.51006023257708, -3.613892575587923]}},
 {'name': 'Colegio Sagrado Corazón',
  'location': {'type': 'Point',
   'coordinates': [40.390325397602766, -3.7101173400878906]}},
 {'name': 'C.C. Colegio Montpellier',
  'location': {'type': 'Point',
   'coordinates': [40.437760338139896, -3.65417086213717]}},
 {'name': 'Colegio Nuestra Señora del Recuerdo',
  'location': {'type': 'Point',
   'coordinates': [40.46904750213028, -3.6782865218350884]}},
 {'name': 'Colegio Ramón y Cajal',
  'location': {'type': 'Point', 'coordinates': [40.4605972, -3.661096]}},
 {'name': 'Colegio Arenales',
  'location': {'type': 'Point',
   'coordinates': [40.374027957219, -3.722836167892057]}},
 {'name': 'Colegio Publico Jose Bergamin',
  'location': {'type': 'Point',
   'coordinates': [40.4331958770478, -3.885344023516797]}},
 {'name': 'C.E.I.P. Carmen Cabezuelo',
  'location': {'type': 'Point',
   'coordinates': [40.43011976280226, -3.6287240984066473]}},
 {'name': 'Fundacion Tomillo',
  'location': {'type': 'Point', 'coordinates': [40.366244, -3.697742]}},
 {'name': 'Colegio Edith Stein',
  'location': {'type': 'Point',
   'coordinates': [40.36544707504457, -3.707496278220684]}},
 {'name': 'Colegio Monte Tabor',
  'location': {'type': 'Point',
   'coordinates': [40.41099828109501, -3.784986875099113]}},
 {'name': 'Colegio Valdefuentes',
  'location': {'type': 'Point',
   'coordinates': [40.490114955693784, -3.6658319313956347]}},
 {'name': 'Colegio Las Nieves',
  'location': {'type': 'Point',
   'coordinates': [40.445898893018956, -3.6134380010976628]}},
 {'name': 'Colegio Los Robles',
  'location': {'type': 'Point',
   'coordinates': [40.45451743799107, -3.7931938531875127]}},
 {'name': 'C.E.I.P. Álvaro de Bazán',
  'location': {'type': 'Point',
   'coordinates': [40.42145515855339, -3.6070137684509365]}},
 {'name': 'Colegio Santa Maria de la Hispanidad',
  'location': {'type': 'Point',
   'coordinates': [40.45338267239683, -3.6114720198235317]}},
 {'name': 'Escuela Infantil Ana de Austria',
  'location': {'type': 'Point',
   'coordinates': [40.49659407960684, -3.654944729650964]}},
 {'name': 'Colegio Cortes De Cádiz, Sanchinarro',
  'location': {'type': 'Point',
   'coordinates': [40.4985953723131, -3.6556377966105704]}},
 {'name': 'Colegio El Quijote',
  'location': {'type': 'Point',
   'coordinates': [40.37496088171162, -3.6236280520576556]}},
 {'name': 'Colegio Santa María La Blanca',
  'location': {'type': 'Point',
   'coordinates': [40.51058153637116, -3.6965109156761384]}},
 {'name': 'Colegio Príncipes de Asturias',
  'location': {'type': 'Point',
   'coordinates': [40.45705158107431, -3.8067348517580646]}},
 {'name': 'Colegio Estudiantes Las Tablas',
  'location': {'type': 'Point',
   'coordinates': [40.508748271432026, -3.6784251985800007]}},
 {'name': 'Liceo Sorolla',
  'location': {'type': 'Point',
   'coordinates': [40.44714477238526, -3.812279715586632]}},
 {'name': 'Colegio Highlands',
  'location': {'type': 'Point',
   'coordinates': [40.50439774990082, -3.638974]}},
 {'name': 'Colegio Torrevilano',
  'location': {'type': 'Point',
   'coordinates': [40.363091774162996, -3.6020473207655215]}},
 {'name': 'Colegio Aldeafuente',
  'location': {'type': 'Point',
   'coordinates': [40.53001499378077, -3.629597899594186]}},
 {'name': 'C.E.I.P. Daoiz y Velarde',
  'location': {'type': 'Point',
   'coordinates': [40.54402566712926, -3.6612826297172676]}},
 {'name': 'Colegio María Teresa',
  'location': {'type': 'Point',
   'coordinates': [40.54731492010025, -3.652245773066716]}},
 {'name': 'Colegio Padre Manyanet',
  'location': {'type': 'Point',
   'coordinates': [40.55226276299699, -3.6761069297790527]}},
 {'name': 'C.P. Ciudades Unidas',
  'location': {'type': 'Point',
   'coordinates': [40.420604173313556, -3.5260224304886463]}},
 {'name': 'Colegio Cristo Rey',
  'location': {'type': 'Point',
   'coordinates': [40.48605322937734, -3.8681972700620952]}},
 {'name': 'Colegio Virgen de Europa',
  'location': {'type': 'Point',
   'coordinates': [40.430413472754545, -3.890388757194829]}},
 {'name': 'Trinity College',
  'location': {'type': 'Point',
   'coordinates': [40.44342556161306, -3.89331319973358]}},
 {'name': 'Colegio Europeo de Madrid (CEM)',
  'location': {'type': 'Point',
   'coordinates': [40.50055927882, -3.8746254989985336]}},
 {'name': 'Escuela Infantil BEBIN',
  'location': {'type': 'Point',
   'coordinates': [40.50022150976667, -3.8751525202445283]}},
 {'name': "Colegio St. Michael's Parque Boadilla",
  'location': {'type': 'Point',
   'coordinates': [40.43126275621332, -3.9196157912837792]}},
 {'name': 'Autoescuela Gala',
  'location': {'type': 'Point', 'coordinates': [40.598678, -3.715471]}},
 {'name': 'Colegio Público La Encina',
  'location': {'type': 'Point',
   'coordinates': [40.51953352325876, -3.902238927884007]}},
 {'name': 'Colegio Los Jarales',
  'location': {'type': 'Point',
   'coordinates': [40.51910070813903, -3.9051220806754663]}},
 {'name': 'Centro Educativo Zola - Las Rozas',
  'location': {'type': 'Point',
   'coordinates': [40.513016117585096, -3.914952278137207]}},
 {'name': 'Colegio Nuestra Señora De La Merced',
  'location': {'type': 'Point',
   'coordinates': [40.614482484544105, -3.718647594953334]}},
 {'name': 'Ies Humanejos',
  'location': {'type': 'Point', 'coordinates': [40.22726171, -3.76825977]}},
 {'name': 'Academia Contacto',
  'location': {'type': 'Point',
   'coordinates': [40.43268647684853, -3.699153159324687]}},
 {'name': 'Colegio Peñalar',
  'location': {'type': 'Point',
   'coordinates': [40.57987590880108, -3.9370106454445257]}},
 {'name': 'Colegio Gredos San Diego de Alcala de Henares',
  'location': {'type': 'Point',
   'coordinates': [40.50403436792415, -3.362029343364126]}},
 {'name': 'Enforex Head Office',
  'location': {'type': 'Point',
   'coordinates': [40.42945674796501, -3.7098049657373955]}},
 {'name': 'Escuelas Pias',
  'location': {'type': 'Point',
   'coordinates': [40.484596948271076, -3.35243957114015]}},
 {'name': 'Gredos San Diego El Escorial',
  'location': {'type': 'Point',
   'coordinates': [40.58583167851412, -4.045516631881734]}},
 {'name': 'Colegio Público Carlos III',
  'location': {'type': 'Point',
   'coordinates': [40.03671329026806, -3.584737007634612]}},
 {'name': 'IE Business School MM4',
  'location': {'type': 'Point',
   'coordinates': [40.43768615467192, -3.688397584222651]}},
 {'name': 'American School of Madrid',
  'location': {'type': 'Point',
   'coordinates': [40.44355447315098, -3.7826539664145438]}},
 {'name': 'Runnymede College',
  'location': {'type': 'Point',
   'coordinates': [40.52848672994643, -3.6315345660962652]}},
 {'name': 'Colegio Teresa De Calcuta',
  'location': {'type': 'Point',
   'coordinates': [40.56107264569122, -3.6116631108360124]}},
 {'name': 'Eureka',
  'location': {'type': 'Point',
   'coordinates': [40.41786680564627, -3.7083983206174476]}},
 {'name': 'AIL Madrid - Spanish School',
  'location': {'type': 'Point',
   'coordinates': [40.42319986233708, -3.68316650390625]}},
 {'name': 'Academia Bunkyo',
  'location': {'type': 'Point',
   'coordinates': [40.42132844559723, -3.7021378223122863]}},
 {'name': 'Colegio Maria Inmaculada',
  'location': {'type': 'Point',
   'coordinates': [40.43425960126786, -3.695534884698451]}},
 {'name': 'Colegio Calasancio',
  'location': {'type': 'Point',
   'coordinates': [40.431017738771125, -3.6754006051378703]}},
 {'name': 'San Patricio',
  'location': {'type': 'Point',
   'coordinates': [40.450414668275016, -3.681788226180184]}},
 {'name': 'Guarderia Kinderland',
  'location': {'type': 'Point',
   'coordinates': [40.45602357203799, -3.693350030821619]}},
 {'name': 'Colegio Maria Auxiliadora Villaamil',
  'location': {'type': 'Point',
   'coordinates': [40.45843120798441, -3.7065725166337233]}},
 {'name': 'The Language Corner',
  'location': {'type': 'Point',
   'coordinates': [40.42746322002237, -3.653120230314189]}},
 {'name': 'Colegio Joyfe',
  'location': {'type': 'Point',
   'coordinates': [40.433259295002216, -3.6394843552939187]}},
 {'name': 'Colegio Sagrada Familia (SAFA)',
  'location': {'type': 'Point',
   'coordinates': [40.40612740537575, -3.6357665061950684]}},
 {'name': 'I.E.S. Gerardo Diego',
  'location': {'type': 'Point',
   'coordinates': [40.44290130926012, -3.786906276229001]}},
 {'name': 'Colegio Veritas',
  'location': {'type': 'Point',
   'coordinates': [40.4152657608065, -3.7909079957123515]}},
 {'name': 'IES Gabriel García Márquez',
  'location': {'type': 'Point',
   'coordinates': [40.47046002106398, -3.635719456710853]}},
 {'name': 'I.E.S. Joaquín Rodrigo',
  'location': {'type': 'Point',
   'coordinates': [40.40900189765354, -3.613922510377166]}},
 {'name': 'colegio infanta leonor',
  'location': {'type': 'Point',
   'coordinates': [40.5014714805498, -3.7002820287105616]}},
 {'name': 'I.E.S. San Juan de la Cruz',
  'location': {'type': 'Point',
   'coordinates': [40.430491283241366, -3.8161104447840373]}},
 {'name': 'Liceo Europeo',
  'location': {'type': 'Point',
   'coordinates': [40.511241147458186, -3.643911396793926]}},
 {'name': 'Tetuan Valley',
  'location': {'type': 'Point',
   'coordinates': [40.45946506588095, -3.699489403782535]}},
 {'name': 'I.E.S. Los Castillos',
  'location': {'type': 'Point',
   'coordinates': [40.35722662255493, -3.8103646003318685]}},
 {'name': 'Colegio Base',
  'location': {'type': 'Point',
   'coordinates': [40.50938544552096, -3.6111820162228607]}},
 {'name': 'Irlandesas',
  'location': {'type': 'Point',
   'coordinates': [40.52494519281781, -3.640639975501519]}},
 {'name': 'IE Business School',
  'location': {'type': 'Point',
   'coordinates': [40.438783522611864, -3.687248275830536]}},
 {'name': 'I.E.S. Josefina Aldecoa',
  'location': {'type': 'Point', 'coordinates': [40.354272, -3.8218059]}},
 {'name': 'Los Sauces',
  'location': {'type': 'Point',
   'coordinates': [40.52830225294828, -3.628851579158802]}},
 {'name': 'I.E.S. Rey Fernando VI',
  'location': {'type': 'Point',
   'coordinates': [40.42279148092813, -3.528714179992676]}},
 {'name': 'IE Business School MM2',
  'location': {'type': 'Point',
   'coordinates': [40.43766779716242, -3.6896703599823493]}},
 {'name': 'Accion Piano',
  'location': {'type': 'Point',
   'coordinates': [40.454963904760014, -3.680213172131945]}},
 {'name': 'Colegio Altamira',
  'location': {'type': 'Point',
   'coordinates': [40.29407269784641, -3.7912157484567337]}},
 {'name': 'Colegio Gredos San Diego Las Rozas',
  'location': {'type': 'Point',
   'coordinates': [40.50188947240976, -3.8817787170410156]}},
 {'name': 'Instituto Cervantes',
  'location': {'type': 'Point',
   'coordinates': [40.41914443693692, -3.695468048720649]}},
 {'name': 'Casa Museo Lope de Vega',
  'location': {'type': 'Point',
   'coordinates': [40.41432648950357, -3.6974677331399093]}},
 {'name': 'Versalles',
  'location': {'type': 'Point',
   'coordinates': [40.50090067983793, -4.067638673167632]}},
 {'name': 'Taberna Aránzazu',
  'location': {'type': 'Point',
   'coordinates': [40.43864951992371, -3.678552809894594]}},
 {'name': 'Instituto Medicoestético',
  'location': {'type': 'Point',
   'coordinates': [40.434547339999995, -3.6833756600000003]}},
 {'name': 'El Flori',
  'location': {'type': 'Point',
   'coordinates': [40.451081912998966, -3.6561724547730052]}},
 {'name': 'Lizarran',
  'location': {'type': 'Point',
   'coordinates': [40.428274453125546, -3.6753916872650456]}},
 {'name': 'Centro Cultural Eduardo Urculo',
  'location': {'type': 'Point',
   'coordinates': [40.46959532472446, -3.6970076659849127]}},
 {'name': 'Plaza de Alonso Martínez',
  'location': {'type': 'Point',
   'coordinates': [40.42767972759961, -3.695687064580876]}},
 {'name': 'Bosco de Lobos',
  'location': {'type': 'Point',
   'coordinates': [40.424150785649374, -3.6990139940797278]}},
 {'name': 'Auditorio Nacional de Música',
  'location': {'type': 'Point',
   'coordinates': [40.446067936066186, -3.677756582066686]}},
 {'name': 'C.M.U. San Juan Evangelista',
  'location': {'type': 'Point',
   'coordinates': [40.44708536886293, -3.719726791445056]}},
 {'name': 'Body Factory',
  'location': {'type': 'Point',
   'coordinates': [40.41286036041115, -3.7918806104172313]}},
 {'name': 'SAGE2000',
  'location': {'type': 'Point',
   'coordinates': [40.39660256817867, -3.7614618689554633]}},
 {'name': 'Decathlon Alcobendas',
  'location': {'type': 'Point',
   'coordinates': [40.53118766113902, -3.646115872978934]}},
 {'name': 'Museo Nacional del Prado',
  'location': {'type': 'Point',
   'coordinates': [40.413978006085095, -3.6921894550323486]}},
 {'name': 'Don Oso',
  'location': {'type': 'Point',
   'coordinates': [40.43654975438844, -3.716466514689635]}},
 {'name': 'El Corte Inglés',
  'location': {'type': 'Point',
   'coordinates': [40.463111259517575, -3.8077926635742188]}},
 {'name': 'Monasterio de San Lorenzo de El Escorial',
  'location': {'type': 'Point',
   'coordinates': [40.589107413275194, -4.148068428039551]}},
 {'name': 'Carrefour',
  'location': {'type': 'Point',
   'coordinates': [40.452690638450854, -3.8679534381560092]}},
 {'name': 'Cafetería La Llama',
  'location': {'type': 'Point',
   'coordinates': [40.44645366802055, -3.7104139950230755]}},
 {'name': 'ILUNION Pio XII',
  'location': {'type': 'Point',
   'coordinates': [40.46880200168201, -3.673746367259065]}},
 {'name': 'Parque Colonia del Retiro',
  'location': {'type': 'Point',
   'coordinates': [40.40935128637728, -3.6714308273544636]}},
 {'name': 'Rotonda del Osito de Gominola',
  'location': {'type': 'Point',
   'coordinates': [40.442868519825424, -3.875704406786842]}},
 {'name': 'Plaza del Ayuntamiento de Escalona',
  'location': {'type': 'Point',
   'coordinates': [40.16599501767879, -4.403679736091029]}},
 {'name': 'Glacé Café',
  'location': {'type': 'Point',
   'coordinates': [40.4480622, -3.7170502999999826]}},
 {'name': 'Orient Buffet Libre',
  'location': {'type': 'Point',
   'coordinates': [40.42223697958694, -3.7110660148585475]}},
 {'name': 'Hotel Osuna',
  'location': {'type': 'Point',
   'coordinates': [40.45296790986916, -3.6129514573695327]}},
 {'name': 'Gorila',
  'location': {'type': 'Point',
   'coordinates': [40.42325787527853, -3.7028397480985196]}},
 {'name': 'Bnfit Padel',
  'location': {'type': 'Point',
   'coordinates': [40.45615192407396, -3.6860473661827897]}},
 {'name': 'La Mafia se sienta a la mesa',
  'location': {'type': 'Point',
   'coordinates': [40.469358995795005, -3.853422677027969]}},
 {'name': 'Vait',
  'location': {'type': 'Point',
   'coordinates': [40.49050990176785, -3.897555809401423]}},
 {'name': 'Namasté tienda de té',
  'location': {'type': 'Point',
   'coordinates': [40.62975884539851, -3.1603825092315674]}},
 {'name': 'EFTI',
  'location': {'type': 'Point',
   'coordinates': [40.40640739316449, -3.6813028269806267]}},
 {'name': 'A punto escuela de cocina y librería gastronómica',
  'location': {'type': 'Point',
   'coordinates': [40.42416356089801, -3.697510809603979]}},
 {'name': 'ACD Sporting De Hortaleza',
  'location': {'type': 'Point',
   'coordinates': [40.478741537415594, -3.6551385596275536]}},
 {'name': 'Centro Deportivo AQA Los Prunos',
  'location': {'type': 'Point',
   'coordinates': [40.453251163101044, -3.6186387300942657]}},
 {'name': 'Escuela Golf Palacio Negralejo',
  'location': {'type': 'Point',
   'coordinates': [40.40919934099235, -3.5146754502677204]}},
 {'name': 'Ciudad del Fútbol de Las Rozas (RFEF)',
  'location': {'type': 'Point',
   'coordinates': [40.52261760070695, -3.8986604709486983]}},
 {'name': 'El Almazén De Los Sentidos. (AZ)',
  'location': {'type': 'Point',
   'coordinates': [40.48949267184853, -3.8758790290282823]}},
 {'name': 'Mercado de Antón Martín',
  'location': {'type': 'Point',
   'coordinates': [40.41152590000001, -3.6987288]}},
 {'name': 'Fundación Canal de Isabel II',
  'location': {'type': 'Point',
   'coordinates': [40.46621816845561, -3.6883153885214774]}},
 {'name': 'El Rondon Hotel Cebreros',
  'location': {'type': 'Point', 'coordinates': [40.463666, -4.459522]}},
 {'name': 'Green Canal Golf',
  'location': {'type': 'Point',
   'coordinates': [40.441745932184965, -3.7065553665161133]}},
 {'name': 'Impulso Urbano - Explanada Matadero',
  'location': {'type': 'Point',
   'coordinates': [40.3947052293797, -3.7012767791748047]}},
 {'name': 'Puerta del Sol',
  'location': {'type': 'Point',
   'coordinates': [40.41679436967101, -3.703562021255493]}},
 {'name': 'Hotel II Castillas Avila',
  'location': {'type': 'Point',
   'coordinates': [40.6686270545561, -4.65749412702533]}},
 {'name': 'Hotel Kafka',
  'location': {'type': 'Point',
   'coordinates': [40.42519683999982, -3.6976847258312544]}},
 {'name': 'Hotel Majadahonda',
  'location': {'type': 'Point',
   'coordinates': [40.458628668605655, -3.87288295346066]}},
 {'name': 'Escuela de Tenis Club De Campo',
  'location': {'type': 'Point',
   'coordinates': [40.44491401374984, -3.7454366683959965]}},
 {'name': 'Polideportivo Europa',
  'location': {'type': 'Point',
   'coordinates': [40.3326861709889, -3.7456340169688125]}},
 {'name': 'Club Ciudad De Los Periodistas',
  'location': {'type': 'Point',
   'coordinates': [40.48355583604704, -3.710028650700107]}},
 {'name': 'Aerodromo Camarenilla',
  'location': {'type': 'Point',
   'coordinates': [40.0228568972218, -4.072806878818084]}},
 {'name': 'BlankPaper Escuela de Fotografía',
  'location': {'type': 'Point',
   'coordinates': [40.421781087347746, -3.7038689124586983]}},
 {'name': 'Ashtanga Yoga',
  'location': {'type': 'Point',
   'coordinates': [40.41465307630052, -3.7022944094471413]}},
 {'name': 'Madrid 47',
  'location': {'type': 'Point',
   'coordinates': [40.42321238889572, -3.670100315790139]}},

In [706]:
escuelas_mad_point = pd.DataFrame(coleccion_escuelas)
escuelas_mad_point.tail()

,name,location
186,Parque de San Antonio,"{'type': 'Point', 'coordinates': [40.658778007..."
187,Granier Panes Artesanos,"{'type': 'Point', 'coordinates': [40.421597819..."
188,100 Montaditos,"{'type': 'Point', 'coordinates': [40.426697567..."
189,Home Asia,"{'type': 'Point', 'coordinates': [40.294040371..."
190,Restaurante Montaloya,"{'type': 'Point', 'coordinates': [40.419216727..."

In [708]:
escuelas_mad_point.to_json("../data/escuelas_madrid_col.json", orient="records")

## Colección Bares

In [689]:
url = 'https://api.foursquare.com/v2/venues/explore'

params = dict(
client_id= tok1,
client_secret= tok2,
v='20180323',
ll='40.42741669687324,-3.7042628540907128',
radius = 100000,
query = 'discoteca',
limit = 1000
)     # bar   pub   discoteca

In [690]:
resp = requests.get(url= url, params = params).json()

In [691]:
data = resp.get("response").get("groups")[0].get("items")

In [692]:
len(data)

80

In [693]:
def getFromDict(diccionario,mapa):
    return reduce(operator.getitem,mapa,diccionario)

mapa_nombre =  ["venue", "name"]
mapa_latitud = ["venue", "location", "lat"]
mapa_longitud = ["venue", "location", "lng"]

#bares_madrid = []
for dic in data:
    paralista = {}
    paralista["name"] = getFromDict(dic, mapa_nombre)
    paralista["latitud"]= getFromDict(dic, mapa_latitud)
    paralista["longitud"] = getFromDict(dic,mapa_longitud)
    bares_madrid.append(paralista)

In [694]:
len(bares_madrid)

280

In [695]:
bares_mad = pd.DataFrame(bares_madrid)

In [696]:
bares_mad.tail()

                    name    latitud  longitud
275   Gourmet Experience  40.419667 -3.705458
276        Platea Madrid  40.426083 -3.688664
277     Central Mexicana  40.469144 -3.853150
278      Forus Chamartín  40.461291 -3.676374
279  Churrería El Vaillo  40.360233 -3.907615

In [697]:
lista_bares = td.sacar_coord(bares_madrid)

In [698]:
len(lista_bares)

280

In [699]:
coleccion_bares = []
for elem in bares_madrid:
    entrada = {
        "name": elem.get("name"),
        "location": {"type": "Point", "coordinates": [elem.get("latitud"), elem.get("longitud")]}
        
    }
    coleccion_bares.append(entrada)

In [702]:
len(coleccion_bares)

280

In [709]:
bares_mad_point = pd.DataFrame(coleccion_bares)
bares_mad_point.tail()

                    name                                           location
275   Gourmet Experience  {'type': 'Point', 'coordinates': [40.419666609...
276        Platea Madrid  {'type': 'Point', 'coordinates': [40.426083288...
277     Central Mexicana  {'type': 'Point', 'coordinates': [40.469144189...
278      Forus Chamartín  {'type': 'Point', 'coordinates': [40.461290944...
279  Churrería El Vaillo  {'type': 'Point', 'coordinates': [40.360233367...

In [710]:
bares_mad_point.to_json("../data/bares_madrid_col.json", orient="records")

## Colección Aeropuerto Tren

In [783]:
url = 'https://api.foursquare.com/v2/venues/explore'

params = dict(
client_id= tok1,
client_secret= tok2,
v='20180323',
ll='40.42741669687324,-3.7042628540907128',
radius = 100000,
query = 'bus station',
limit = 1000
)     # train      aeropuerto       bus station

In [784]:
resp = requests.get(url= url, params = params).json()

In [785]:
data = resp.get("response").get("groups")[0].get("items")

In [786]:
len(data)

42

In [787]:
def getFromDict(diccionario,mapa):
    return reduce(operator.getitem,mapa,diccionario)

mapa_nombre =  ["venue", "name"]
mapa_latitud = ["venue", "location", "lat"]
mapa_longitud = ["venue", "location", "lng"]

#aeropuertos_madrid = []
for dic in data:
    paralista = {}
    paralista["name"] = getFromDict(dic, mapa_nombre)
    paralista["latitud"]= getFromDict(dic, mapa_latitud)
    paralista["longitud"] = getFromDict(dic,mapa_longitud)
    aeropuertos_madrid.append(paralista)

In [788]:
len(aeropuertos_madrid)

243

In [789]:
aeropuertos_mad = pd.DataFrame(aeropuertos_madrid)

In [790]:
aeropuertos_mad.head()

                                     name    latitud  longitud
0     Estación de Madrid-Puerta de Atocha  40.406410 -3.690130
1                     Cercanías Pirámides  40.402486 -3.711202
2  Estación de Cercanías de Madrid-Atocha  40.405497 -3.688216
3                      Estación del Norte  40.421230 -3.719121
4                           Cercanías Sol  40.416943 -3.703006

In [791]:
lista_aeropuertos = td.sacar_coord(aeropuertos_madrid)

In [792]:
len(lista_aeropuertos)

243

In [793]:
coleccion_aeropuertos = []
for elem in aeropuertos_madrid:
    entrada = {
        "name": elem.get("name"),
        "location": {"type": "Point", "coordinates": [elem.get("latitud"), elem.get("longitud")]}
        
    }
    coleccion_aeropuertos.append(entrada)

In [794]:
len(coleccion_aeropuertos)

243

In [795]:
aeropuertos_mad_point = pd.DataFrame(coleccion_aeropuertos)
aeropuertos_mad_point.tail()

,name,location
238,Estación de Autobuses de Toledo,"{'type': 'Point', 'coordinates': [39.865474909..."
239,Estación de Autobuses,"{'type': 'Point', 'coordinates': [40.944996942..."
240,Metro Alameda de Osuna,"{'type': 'Point', 'coordinates': [40.457348968..."
241,Estación de Tren de Toledo,"{'type': 'Point', 'coordinates': [39.862368072..."
242,Estación de Segovia-Guiomar,"{'type': 'Point', 'coordinates': [40.910210129..."

In [796]:
aeropuertos_mad_point.to_json("../data/estaciones_madrid_col.json", orient="records")

## Colección Peluquería canina

In [859]:
url = 'https://api.foursquare.com/v2/venues/explore'

params = dict(
client_id= tok1,
client_secret= tok2,
v='20180323',
ll='40.42741669687324,-3.7042628540907128',
radius = 100000,
query = 'veterinarian',
limit = 1000
)     # peluqueria canina   veterinario   clinica veterinaria   veterinaria   clinica veterinario    vet   Veterinarian

In [860]:
resp = requests.get(url= url, params = params).json()

In [861]:
data = resp.get("response").get("groups")[0].get("items")

In [862]:
len(data)

43

In [857]:
def getFromDict(diccionario,mapa):
    return reduce(operator.getitem,mapa,diccionario)

mapa_nombre =  ["venue", "name"]
mapa_latitud = ["venue", "location", "lat"]
mapa_longitud = ["venue", "location", "lng"]

#veterinarios_madrid = []
for dic in data:
    paralista = {}
    paralista["name"] = getFromDict(dic, mapa_nombre)
    paralista["latitud"]= getFromDict(dic, mapa_latitud)
    paralista["longitud"] = getFromDict(dic,mapa_longitud)
    veterinarios_madrid.append(paralista)

In [863]:
len(veterinarios_madrid)

127

In [864]:
veterinarios_mad = pd.DataFrame(veterinarios_madrid)

In [865]:
veterinarios_mad.head()

                               name    latitud  longitud
0                          Mini zoo  40.473124 -3.874894
1                       Tropi Fauna  40.089626 -3.875134
2  Peluquería Canina "Lotta & Less"  40.450458 -3.688359
3         Can Cut Peluquería Canina  40.396575 -3.709142
4       Peluquería Canina Peluditos  40.392329 -3.693419

In [866]:
lista_veterinarios = td.sacar_coord(veterinarios_madrid)

In [867]:
len(lista_veterinarios)

127

In [868]:
coleccion_veterinarios = []
for elem in veterinarios_madrid:
    entrada = {
        "name": elem.get("name"),
        "location": {"type": "Point", "coordinates": [elem.get("latitud"), elem.get("longitud")]}
        
    }
    coleccion_veterinarios.append(entrada)

In [869]:
len(coleccion_veterinarios)

127

In [870]:
veterinarios_mad_point = pd.DataFrame(coleccion_veterinarios)
veterinarios_mad_point.tail()

,name,location
122,Centro Veterinario Grandes Valles,"{'type': 'Point', 'coordinates': [40.6456814, ..."
123,Clínica Veterinaria Butragueño,"{'type': 'Point', 'coordinates': [40.517907567..."
124,Clínica Veterinaria Villaluenga,"{'type': 'Point', 'coordinates': [40.0282, -3...."
125,Centro Veterinario-Fundación Canadd Internacional,"{'type': 'Point', 'coordinates': [40.4878905, ..."
126,Centro Veterinario Isvet,"{'type': 'Point', 'coordinates': [40.6683407, ..."

In [872]:
veterinarios_mad_point.to_json("../data/veterinarios_madrid_col.json", orient="records")

# COLECCIONES BARCELONA

## Colección Starbucks

In [873]:
url = 'https://api.foursquare.com/v2/venues/explore'

params = dict(
client_id= tok1,
client_secret= tok2,
v='20180323',
ll='41.38673290105267, 2.1734030691967905',
radius = 100000,
query='Starbucks',
limit=100
)

In [874]:
resp = requests.get(url= url, params = params).json()

In [875]:
data = resp.get("response").get("groups")[0].get("items")

In [878]:
len(data)

28

In [879]:
def getFromDict(diccionario,mapa):
    return reduce(operator.getitem,mapa,diccionario)

mapa_nombre =  ["venue", "name"]
mapa_latitud = ["venue", "location", "lat"]
mapa_longitud = ["venue", "location", "lng"]

starbucks_barcelona = []
for dic in data:
    paralista = {}
    paralista["name"] = getFromDict(dic, mapa_nombre)
    paralista["latitud"]= getFromDict(dic, mapa_latitud)
    paralista["longitud"] = getFromDict(dic,mapa_longitud)
    starbucks_barcelona.append(paralista)

In [880]:
len(starbucks_barcelona)

28

In [881]:
starbucks_barna = pd.DataFrame(starbucks_barcelona)

In [882]:
starbucks_barna.head()

                            name    latitud  longitud
0      Starbucks Rambla Cataluña  41.387954  2.167901
1  Starbucks B Hotel (Starbucks)  41.376244  2.150732
2    Starbucks Plaza Universitat  41.385419  2.163150
3                      Starbucks  41.387848  2.169634
4     Starbucks Rambla Canaletas  41.383485  2.171382

In [883]:
lista_starbucks_barna = td.sacar_coord(starbucks_barcelona)

In [884]:
len(lista_starbucks_barna)

28

In [885]:
coleccion_starbucks_barna = []
for elem in starbucks_barcelona:
    entrada = {
        "name": elem.get("name"),
        "location": {"type": "Point", "coordinates": [elem.get("latitud"), elem.get("longitud")]}
        
    }
    coleccion_starbucks_barna.append(entrada)

In [886]:
coleccion_starbucks_barna

[{'name': 'Starbucks Rambla Cataluña',
  'location': {'type': 'Point',
   'coordinates': [41.387953542832165, 2.1679005112034084]}},
 {'name': 'Starbucks B Hotel (Starbucks)',
  'location': {'type': 'Point',
   'coordinates': [41.376243505662345, 2.1507315030599163]}},
 {'name': 'Starbucks Plaza Universitat',
  'location': {'type': 'Point',
   'coordinates': [41.38541870874625, 2.163150288025445]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point',
   'coordinates': [41.38784750930173, 2.1696339235092985]}},
 {'name': 'Starbucks Rambla Canaletas',
  'location': {'type': 'Point',
   'coordinates': [41.38348531847921, 2.1713820474796326]}},
 {'name': 'Starbucks La Maquinista',
  'location': {'type': 'Point',
   'coordinates': [41.439793345953674, 2.197619699487752]}},
 {'name': 'Starbucks Pelai',
  'location': {'type': 'Point',
   'coordinates': [41.38580458944728, 2.1678578853607178]}},
 {'name': 'Starbucks Diagonal 593',
  'location': {'type': 'Point',
   'coordinates': [41.388743961461884, 2.130627505151918]}},
 {'name': 'Starbucks Room Mate Anna',
  'location': {'type': 'Point',
   'coordinates': [41.39278181321591, 2.1656320100589097]}},
 {'name': 'Starbucks Vía Laietana',
  'location': {'type': 'Point',
   'coordinates': [41.385212881187684, 2.177009738540203]}},
 {'name': "Starbucks Moll d'Espanya",
  'location': {'type': 'Point',
   'coordinates': [41.37460653392636, 2.182557655378808]}},
 {'name': 'Starbucks Consel',
  'location': {'type': 'Point',
   'coordinates': [41.39073404229646, 2.1651365170026944]}},
 {'name': 'Starbucks CC La Roca Village',
  'location': {'type': 'Point',
   'coordinates': [41.6101064119954, 2.3432262132317905]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point',
   'coordinates': [41.4023121744117, 2.173994779586792]}},
 {'name': 'Starbucks Sant Pere',
  'location': {'type': 'Point',
   'coordinates': [41.38878261751958, 2.1720633907608704]}},
 {'name': 'Starbucks Rambla 89',
  'location': {'type': 'Point', 'coordinates': [41.384856, 2.170487]}},
 {'name': 'Starbucks Gran vía 2',
  'location': {'type': 'Point', 'coordinates': [41.35947, 2.1300998]}},
 {'name': 'Starbucks CC Finestrelles',
  'location': {'type': 'Point', 'coordinates': [41.37714, 2.098316]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point',
   'coordinates': [41.38641765662956, 2.1651495862102075]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point',
   'coordinates': [41.39263077830675, 2.143957475482232]}},
 {'name': 'Starbucks Diagonal 640',
  'location': {'type': 'Point',
   'coordinates': [41.39106927048871, 2.136410046858057]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point',
   'coordinates': [41.38190998967705, 2.172113994974859]}},
 {'name': 'Starbucks Diagonal 635',
  'location': {'type': 'Point',
   'coordinates': [41.38701603939547, 2.123901844024658]}},
 {'name': 'Starbucks Argentería',
  'location': {'type': 'Point',
   'coordinates': [41.38356136455636, 2.181132782745855]}},
 {'name': 'Starbucks CC Glòries',
  'location': {'type': 'Point',
   'coordinates': [41.405101777917146, 2.1914184045948444]}},
 {'name': 'Starbucks Diagonal 3',
  'location': {'type': 'Point',
   'coordinates': [41.40967326146267, 2.215713323322027]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point', 'coordinates': [41.3477107, 2.0791238]}},
 {'name': 'Starbucks',
  'location': {'type': 'Point',
   'coordinates': [41.395066280471816, 2.15812165819131]}}]

In [887]:
starbucks_barna_point = pd.DataFrame(coleccion_starbucks_barna)
starbucks_barna_point

,name,location
0,Starbucks Rambla Cataluña,"{'type': 'Point', 'coordinates': [41.387953542..."
1,Starbucks B Hotel (Starbucks),"{'type': 'Point', 'coordinates': [41.376243505..."
2,Starbucks Plaza Universitat,"{'type': 'Point', 'coordinates': [41.385418708..."
3,Starbucks,"{'type': 'Point', 'coordinates': [41.387847509..."
4,Starbucks Rambla Canaletas,"{'type': 'Point', 'coordinates': [41.383485318..."
5,Starbucks La Maquinista,"{'type': 'Point', 'coordinates': [41.439793345..."
6,Starbucks Pelai,"{'type': 'Point', 'coordinates': [41.385804589..."
7,Starbucks Diagonal 593,"{'type': 'Point', 'coordinates': [41.388743961..."
8,Starbucks Room Mate Anna,"{'type': 'Point', 'coordinates': [41.392781813..."
9,Starbucks Vía Laietana,"{'type': 'Point', 'coordinates': [41.385212881..."
10,Starbucks Moll d'Espanya,"{'type': 'Point', 'coordinates': [41.374606533..."
11,Starbucks Consel,"{'type': 'Point', 'coordinates': [41.390734042..."
12,Starbucks CC La Roca Village,"{'type': 'Point', 'coordinates': [41.610106411..."
13,Starbucks,"{'type': 'Point', 'coordinates': [41.402312174..."
14,Starbucks Sant Pere,"{'type': 'Point', 'coordinates': [41.388782617..."
15,Starbucks Rambla 89,"{'type': 'Point', 'coordinates': [41.384856, 2..."
16,Starbucks Gran vía 2,"{'type': 'Point', 'coordinates': [41.35947, 2...."
17,Starbucks CC Finestrelles,"{'type': 'Point', 'coordinates': [41.37714, 2...."
18,Starbucks,"{'type': 'Point', 'coordinates': [41.386417656..."
19,Starbucks,"{'type': 'Point', 'coordinates': [41.392630778..."
20,Starbucks Diagonal 640,"{'type': 'Point', 'coordinates': [41.391069270..."
21,Starbucks,"{'type': 'Point', 'coordinates': [41.381909989..."
22,Starbucks Diagonal 635,"{'type': 'Point', 'coordinates': [41.387016039..."
23,Starbucks Argentería,"{'type': 'Point', 'coordinates': [41.383561364..."
24,Starbucks CC Glòries,"{'type': 'Point', 'coordinates': [41.405101777..."
25,Starbucks Diagonal 3,"{'type': 'Point', 'coordinates': [41.409673261..."
26,Starbucks,"{'type': 'Point', 'coordinates': [41.3477107, ..."
27,Starbucks,"{'type': 'Point', 'coordinates': [41.395066280..."

In [888]:
starbucks_barna_point.to_json("../data/starbucks_barcelona_col.json", orient="records")

## Colección Escuelas

In [913]:
url = 'https://api.foursquare.com/v2/venues/explore'

params = dict(
client_id= tok1,
client_secret= tok2,
v='20180323',
ll='41.38673290105267, 2.1734030691967905',
radius = 100000,
query = 'escuela',
limit = 1000
)     # instituto   school     colegio     escuela   educacion

In [914]:
resp = requests.get(url= url, params = params).json()

In [915]:
data = resp.get("response").get("groups")[0].get("items")

In [916]:
len(data)

53

In [917]:
def getFromDict(diccionario,mapa):
    return reduce(operator.getitem,mapa,diccionario)

mapa_nombre =  ["venue", "name"]
mapa_latitud = ["venue", "location", "lat"]
mapa_longitud = ["venue", "location", "lng"]

#escuelas_barcelona = []
for dic in data:
    paralista = {}
    paralista["name"] = getFromDict(dic, mapa_nombre)
    paralista["latitud"]= getFromDict(dic, mapa_latitud)
    paralista["longitud"] = getFromDict(dic,mapa_longitud)
    escuelas_barcelona.append(paralista)

In [918]:
len(escuelas_barcelona)

189

In [919]:
colegios_barna = pd.DataFrame(escuelas_barcelona)

In [920]:
colegios_barna.tail()

                                              name    latitud  longitud
184  Escuela Artes Marciales Zen Tao Internacional  41.399841  2.155444
185                      Capoeira Barcelona Clases  41.425481  2.204733
186                           Passeig marítim, 368  41.264876  1.950093
187                                Papereria Roger  41.615332  2.665253
188                                    Nacar y Sal  41.985806  2.818498

In [921]:
lista_colegios_barna = td.sacar_coord(escuelas_barcelona)

In [922]:
len(lista_colegios_barna)

189

In [923]:
coleccion_escuelas_barna = []
for elem in escuelas_barcelona:
    entrada = {
        "name": elem.get("name"),
        "location": {"type": "Point", "coordinates": [elem.get("latitud"), elem.get("longitud")]}
        
    }
    coleccion_escuelas_barna.append(entrada)

In [925]:
len(coleccion_escuelas_barna)

189

In [926]:
escuelas_barna_point = pd.DataFrame(coleccion_escuelas_barna)
escuelas_barna_point.tail()

,name,location
184,Escuela Artes Marciales Zen Tao Internacional,"{'type': 'Point', 'coordinates': [41.399840794..."
185,Capoeira Barcelona Clases,"{'type': 'Point', 'coordinates': [41.425480912..."
186,"Passeig marítim, 368","{'type': 'Point', 'coordinates': [41.264876447..."
187,Papereria Roger,"{'type': 'Point', 'coordinates': [41.615332159..."
188,Nacar y Sal,"{'type': 'Point', 'coordinates': [41.985805770..."

In [927]:
escuelas_barna_point.to_json("../data/escuelas_barcelona_col.json", orient="records")

## Colección Bares

In [944]:
url = 'https://api.foursquare.com/v2/venues/explore'

params = dict(
client_id= tok1,
client_secret= tok2,
v='20180323',
ll='41.38673290105267, 2.1734030691967905',
radius = 100000,
query = 'pub',
limit = 1000
)     # bar   pub   discoteca

In [945]:
resp = requests.get(url= url, params = params).json()

In [946]:
data = resp.get("response").get("groups")[0].get("items")

In [947]:
len(data)

100

In [948]:
def getFromDict(diccionario,mapa):
    return reduce(operator.getitem,mapa,diccionario)

mapa_nombre =  ["venue", "name"]
mapa_latitud = ["venue", "location", "lat"]
mapa_longitud = ["venue", "location", "lng"]

#bares_barcelona = []
for dic in data:
    paralista = {}
    paralista["name"] = getFromDict(dic, mapa_nombre)
    paralista["latitud"]= getFromDict(dic, mapa_latitud)
    paralista["longitud"] = getFromDict(dic,mapa_longitud)
    bares_barcelona.append(paralista)

In [949]:
len(bares_barcelona)

284

In [950]:
bares_barna = pd.DataFrame(bares_barcelona)

In [951]:
bares_barna.tail()

                     name    latitud  longitud
279  Mosquito Sunset Club  41.361779  2.099571
280             Beirut 37  41.382524  2.165744
281                My Bar  41.380543  2.174702
282              Highland  41.115946  1.255961
283  La Taverna del Espit  41.389428  2.157796

In [952]:
lista_bares_barna = td.sacar_coord(bares_barcelona)

In [953]:
len(lista_bares_barna)

284

In [954]:
coleccion_bares_barna = []
for elem in bares_barcelona:
    entrada = {
        "name": elem.get("name"),
        "location": {"type": "Point", "coordinates": [elem.get("latitud"), elem.get("longitud")]}
        
    }
    coleccion_bares_barna.append(entrada)

In [955]:
len(coleccion_bares_barna)

284

In [956]:
bares_barna_point = pd.DataFrame(coleccion_bares_barna)
bares_barna_point.tail()

                     name                                           location
279  Mosquito Sunset Club  {'type': 'Point', 'coordinates': [41.361779371...
280             Beirut 37  {'type': 'Point', 'coordinates': [41.382524183...
281                My Bar  {'type': 'Point', 'coordinates': [41.380543213...
282              Highland  {'type': 'Point', 'coordinates': [41.115945828...
283  La Taverna del Espit  {'type': 'Point', 'coordinates': [41.389428368...

In [957]:
bares_barna_point.to_json("../data/bares_barcelona_col.json", orient="records")

## Colección Aeropuerto Tren

In [970]:
url = 'https://api.foursquare.com/v2/venues/explore'

params = dict(
client_id= tok1,
client_secret= tok2,
v='20180323',
ll='41.38673290105267, 2.1734030691967905',
radius = 100000,
query = 'aeropuerto',
limit = 1
)     # train      aeropuerto       bus station

In [971]:
resp = requests.get(url= url, params = params).json()

In [972]:
data = resp.get("response").get("groups")[0].get("items")

In [975]:
len(data)

1

In [976]:
def getFromDict(diccionario,mapa):
    return reduce(operator.getitem,mapa,diccionario)

mapa_nombre =  ["venue", "name"]
mapa_latitud = ["venue", "location", "lat"]
mapa_longitud = ["venue", "location", "lng"]

#aeropuertos_barcelona = []
for dic in data:
    paralista = {}
    paralista["name"] = getFromDict(dic, mapa_nombre)
    paralista["latitud"]= getFromDict(dic, mapa_latitud)
    paralista["longitud"] = getFromDict(dic,mapa_longitud)
    aeropuertos_barcelona.append(paralista)

In [977]:
len(aeropuertos_barcelona)

161

In [978]:
aeropuertos_barna = pd.DataFrame(aeropuertos_barcelona)

In [979]:
aeropuertos_barna.head()

                                          name    latitud  longitud
0         Estación de Autobuses Barcelona Nord  41.394324  2.182510
1                           Parada De Bus 1227  41.400512  2.171443
2       Parada Bus 1467 Paris / Comte D'Urgell  41.389560  2.147737
3  TMB 1098: Av. Diagonal - Pl. Francesc Macià  41.393061  2.146240
4                            Gran Via - Farell  41.371907  2.144974

In [980]:
lista_aeropuertos_barna = td.sacar_coord(aeropuertos_barcelona)

In [981]:
len(lista_aeropuertos_barna)

161

In [982]:
coleccion_aeropuertos_barna = []
for elem in aeropuertos_barcelona:
    entrada = {
        "name": elem.get("name"),
        "location": {"type": "Point", "coordinates": [elem.get("latitud"), elem.get("longitud")]}
        
    }
    coleccion_aeropuertos_barna.append(entrada)

In [983]:
len(coleccion_aeropuertos_barna)

161

In [984]:
aeropuertos_barna_point = pd.DataFrame(coleccion_aeropuertos_barna)
aeropuertos_barna_point.tail()

,name,location
156,RENFE Malgrat de Mar,"{'type': 'Point', 'coordinates': [41.641699368..."
157,FGC Olesa de Montserrat,"{'type': 'Point', 'coordinates': [41.541066001..."
158,RENFE Mollet-Santa Rosa,"{'type': 'Point', 'coordinates': [41.536451930..."
159,RENFE Sabadell Centre,"{'type': 'Point', 'coordinates': [41.546281373..."
160,Barcelona–El Prat Josep Tarradellas Airport (B...,"{'type': 'Point', 'coordinates': [41.295606993..."

In [985]:
aeropuertos_barna_point.to_json("../data/estaciones_barcelona_col.json", orient="records")

## Colección Peluquería canina

In [1022]:
url = 'https://api.foursquare.com/v2/venues/explore'

params = dict(
client_id= tok1,
client_secret= tok2,
v='20180323',
ll='41.38673290105267, 2.1734030691967905',
radius = 100000,
query = 'vet',
limit = 1000
)     # peluqueria canina   veterinario   clinica veterinaria   veterinaria   clinica veterinario    vet   Veterinarian

In [1023]:
resp = requests.get(url= url, params = params).json()

In [1024]:
data = resp.get("response").get("groups")[0].get("items")

In [1025]:
len(data)

42

In [1026]:
def getFromDict(diccionario,mapa):
    return reduce(operator.getitem,mapa,diccionario)

mapa_nombre =  ["venue", "name"]
mapa_latitud = ["venue", "location", "lat"]
mapa_longitud = ["venue", "location", "lng"]

#veterinarios_barcelona = []
for dic in data:
    paralista = {}
    paralista["name"] = getFromDict(dic, mapa_nombre)
    paralista["latitud"]= getFromDict(dic, mapa_latitud)
    paralista["longitud"] = getFromDict(dic,mapa_longitud)
    veterinarios_barcelona.append(paralista)

In [1027]:
len(veterinarios_barcelona)

104

In [1028]:
veterinarios_barna = pd.DataFrame(veterinarios_barcelona)

In [1029]:
veterinarios_barna.head()

                             name    latitud  longitud
0                       Veterinos  41.475354  2.097627
1     Clínica Veterinària Exòtics  41.407836  2.137312
2                       Veteralia  41.389064  2.170183
3  Clínica Veterinària Riera Alta  41.380431  2.166224
4     Hospital Veterinario Balmes  41.390944  2.160410

In [1030]:
lista_veterinarios_barna = td.sacar_coord(veterinarios_barcelona)

In [1031]:
len(lista_veterinarios_barna)

104

In [1032]:
coleccion_veterinarios_barna = []
for elem in veterinarios_barcelona:
    entrada = {
        "name": elem.get("name"),
        "location": {"type": "Point", "coordinates": [elem.get("latitud"), elem.get("longitud")]}
        
    }
    coleccion_veterinarios_barna.append(entrada)

In [1033]:
len(coleccion_veterinarios_barna)

104

In [1034]:
veterinarios_barna_point = pd.DataFrame(coleccion_veterinarios_barna)
veterinarios_barna_point.tail()

,name,location
99,Mima'ns,"{'type': 'Point', 'coordinates': [41.237987345..."
100,Clínica Sant Jordi Veterinaris,"{'type': 'Point', 'coordinates': [41.588035921..."
101,Clínica Veteralia Mascots,"{'type': 'Point', 'coordinates': [41.689802971..."
102,Zoo Clinic,"{'type': 'Point', 'coordinates': [41.122360167..."
103,Bofarull Veterinari,"{'type': 'Point', 'coordinates': [41.121527960..."

In [1035]:
veterinarios_barna_point.to_json("../data/veterinarios_barcelona_col.json", orient="records")

#### ESTO SE QUEDA POR AHORA AQUÍ PARA RECORDARME CIERTAS COSAS

In [ ]:
###ESTO ES LO QUE NECESITO PARA IR ALMACENANDO TODAS LAS POSIBLES COINCIDENCIAS
# EL HISTÓRICO SIEMPRE SE TIENE QUE DECLARAR CON LAS COORDENADAS DE INICIO

historico = [[1, 2]]

datos_02 = [[3, 4], [5, 6]]

datos_03 = [[[7, 8], [9, 10]] , [[88, 88], [77, 77]]]

datos_04 = [[[22, 11], [31, 10]], [[0, 0], [55, 54], [1, 1]], [[33, 33], [45, 46]], [[13, 1], [0, 110]]]

# LE IREMOS PASANDO LOS RESULTADOS DE LAS CONSULTAS

# HAY QUE DECIRLE EL NÚMERO DE BÚSQUEDA QUE HA SIDO PARA QUE SEPA COMO DIBUJAR EL ARBOL

historico = td.guardar_historico(historico, datos_02)

historico = td.guardar_historico(historico, datos_03)

historico = td.guardar_historico(historico, datos_04)

# TIENES QUE GENERAR UNA FUNCIÓN QUE LIMPIE EL HISTÓRICO Y DEVUELVA LA MEDIA DE LAS COORDENADAS DE CADA FILA PARA
#LA SIGUIENTE BÚSQUEDA.

#ACUERDATE DE QUE TIENES QUE ALMACENAR LOS RESULTADOS EN UNA LISTA MAYOR

hay que hacerlo por elementos