In [448]:
import sys
sys.path.append("../")

In [ ]:
import src.tratamiento_datos as td

In [14]:
from pymongo import MongoClient
client = MongoClient("localhost:27017")
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [15]:
db = client.get_database("ironhack")

In [16]:
from pymongo import GEOSPHERE

In [44]:
import requests
import json
from dotenv import load_dotenv
import os
import pandas as pd
load_dotenv()

True

In [59]:
tok1= 'YSS3V41QKFXVDXT4GTN4Z5SJE4VP3O4ADYABQN4OQ5LWAPNM'
tok2= 'WMQKJO1F3X2L0ZVLWJOD4YVBTXU0FRVCXWXLE5OLRXAX2C1W'

In [5]:
ranking = pd.read_csv('../data/ranking', index_col = 0)

In [8]:
ranking

         requirement  requirement_value
8               ocio              44.20
0            colegio              13.26
1   Design Companies               8.24
2      Airport-Train               7.84
3       1M companies               6.76
4           Starbuck               6.27
5  peluqueria_canina               5.00
6              Vegan               1.96
7     Basket Stadium               0.37

In [11]:
empresas_ciudad = pd.read_csv('../data/empresas_ciudad', index_col = 0)

In [12]:
empresas_ciudad

                 Madrid                 Barcelona          Montreal  Lisboa
0                   Fon                  Splendia   Airborne Mobile  Nexway
1             eRepublik                 Futurlink           Mobivox     NaN
2                 Busuu                 Openbravo       Radialpoint     NaN
3  Unkasoft Advergaming                  UserZoom             Akoha     NaN
4                Nexway                     Veeva       MediaScrape     NaN
5   Tuenti Technologies                   Teambox         StatusNet     NaN
6           Virgin Play  International Sportsbook  Trellia Networks     NaN
7              ticketea                       NaN               NaN     NaN
8               Genasys                       NaN               NaN     NaN
9                BuyVIP                       NaN               NaN     NaN

In [17]:
coordenadas_ciudades = {'madrid' : [40.42741669687324, -3.7042628540907128],
                        'barcelona' : [41.38673290105267, 2.1734030691967905],
                        'lisboa' : [38.72287648728543, -9.139444396944034],
                        'montreal' : [45.51073484608754, -73.56393413888645]}

In [60]:

url = 'https://api.foursquare.com/v2/venues/explore'

params = dict(
client_id= tok1,
client_secret= tok2,
v='20180323',
ll='40.42741669687324,-3.7042628540907128',
query='Starbucks',
limit=10
)

In [61]:
resp = requests.get(url= url, params = params).json()

In [62]:
data = resp.get("response").get("groups")[0].get("items")

In [93]:
#resp

In [75]:
data[0]['venue']['location']['lat']

40.423319643246955

In [77]:
data[0]['venue']['location']['lng']

-3.710882844657412

In [88]:
data[0]['venue']['name']

'Starbucks Plaza de España'

In [90]:
from functools import reduce
import operator

def getFromDict(diccionario,mapa):
    return reduce(operator.getitem,mapa,diccionario)

mapa_nombre =  ["venue", "name"]
mapa_latitud = ["venue", "location", "lat"]
mapa_longitud = ["venue", "location", "lng"]

starbucks_madrid = []
for dic in data:
    paralista = {}
    paralista["name"] = getFromDict(dic, mapa_nombre)
    paralista["latitud"]= getFromDict(dic, mapa_latitud)
    paralista["longitud"] = getFromDict(dic,mapa_longitud)
    starbucks_madrid.append(paralista)

In [91]:
df = pd.DataFrame(starbucks_madrid)
df.head()

                        name    latitud  longitud
0  Starbucks Plaza de España  40.423320 -3.710883
1  Starbucks Room Mate Oscar  40.420752 -3.699315
2    Starbucks Fuencarral 43  40.423113 -3.700798
3      Starbucks Gran Vía 30  40.420140 -3.702886
4      Starbucks Princesa 40  40.429069 -3.715079

In [92]:
starbucks_madrid

[{'name': 'Starbucks Plaza de España',
  'latitud': 40.423319643246955,
  'longitud': -3.710882844657412},
 {'name': 'Starbucks Room Mate Oscar',
  'latitud': 40.42075183549848,
  'longitud': -3.6993145297210788},
 {'name': 'Starbucks Fuencarral 43',
  'latitud': 40.423112989750564,
  'longitud': -3.700798408458431},
 {'name': 'Starbucks Gran Vía 30',
  'latitud': 40.42014039388448,
  'longitud': -3.702886033408268},
 {'name': 'Starbucks Princesa 40',
  'latitud': 40.42906874005007,
  'longitud': -3.7150786671568476},
 {'name': 'Starbucks Gran Vía 58',
  'latitud': 40.421751918201934,
  'longitud': -3.7083782102926905},
 {'name': 'Starbucks Preciados 27',
  'latitud': 40.419667845686355,
  'longitud': -3.7061354223688325},
 {'name': 'Starbucks Quevedo', 'latitud': 40.433353, 'longitud': -3.703958},
 {'name': 'Starbucks Alcalá 21',
  'latitud': 40.418038185194774,
  'longitud': -3.699371513099982},
 {'name': 'Starbucks Génova 27',
  'latitud': 40.425760357264515,
  'longitud': -3.691781759262085}]

In [104]:
coord_inicio = [coordenadas_ciudades['madrid']]

In [118]:
coord_busqueda = []

In [102]:
lista_starbucks = []
for elem in starbucks_madrid:
    lat_lng = [elem['latitud'], elem['longitud']]
    lista_starbucks.append(lat_lng)

In [447]:
lista_starbucks

[[40.423319643246955, -3.710882844657412],
 [40.42075183549848, -3.6993145297210788],
 [40.423112989750564, -3.700798408458431],
 [40.42014039388448, -3.702886033408268],
 [40.42906874005007, -3.7150786671568476],
 [40.421751918201934, -3.7083782102926905],
 [40.419667845686355, -3.7061354223688325],
 [40.433353, -3.703958],
 [40.418038185194774, -3.699371513099982],
 [40.425760357264515, -3.691781759262085]]

#### ESTO SE QUEDA POR AHORA AQUÍ PARA RECORDARME CIERTAS COSAS

In [ ]:
###ESTO ES LO QUE NECESITO PARA IR ALMACENANDO TODAS LAS POSIBLES COINCIDENCIAS
# EL HISTÓRICO SIEMPRE SE TIENE QUE DECLARAR CON LAS COORDENADAS DE INICIO

historico = [[1, 2]]

datos_02 = [[3, 4], [5, 6]]

datos_03 = [[[7, 8], [9, 10]] , [[88, 88], [77, 77]]]

datos_04 = [[[22, 11], [31, 10]], [[0, 0], [55, 54], [1, 1]], [[33, 33], [45, 46]], [[13, 1], [0, 110]]]

# LE IREMOS PASANDO LOS RESULTADOS DE LAS CONSULTAS

# HAY QUE DECIRLE EL NÚMERO DE BÚSQUEDA QUE HA SIDO PARA QUE SEPA COMO DIBUJAR EL ARBOL

historico = td.guardar_historico(historico, datos_02)

historico = td.guardar_historico(historico, datos_03)

historico = td.guardar_historico(historico, datos_04)

# TIENES QUE GENERAR UNA FUNCIÓN QUE LIMPIE EL HISTÓRICO Y DEVUELVA LA MEDIA DE LAS COORDENADAS DE CADA FILA PARA
#LA SIGUIENTE BÚSQUEDA.

#ACUERDATE DE QUE TIENES QUE ALMACENAR LOS RESULTADOS EN UNA LISTA MAYOR

hay que hacerlo por elementos